---
import { Image } from 'astro:assets';
import Title from './title.astro';
import breakLine from '~/util/breakLine.ts';
import ResponsiveGrid from '~/layouts/responsiveGrid.astro';

interface Props {
    bg: ImageMetadata;
    number: string;
    title: string;
    description: string;
}

const { bg, number, title, description } = Astro.props;
const descriptionHtml = breakLine(description);
---

<!-- 入会メリット -->
<div class="relative">
    <Fragment slot="top">
        <Image class="w-full" src={bg} alt="" />
        <div class="absolute top-0 flex h-full w-full flex-col justify-between">
            <Title number={number} title={title} />
            <div class="subtitle">
                <div class="div-wrapper -mb-10 backdrop-blur-sm">
                    <div class="text-wrapper-3 hannari font-thin text-white">
                        <Fragment set:html={descriptionHtml} />
                    </div>
                </div>
            </div>
        </div>
    </Fragment>
    <Fragment slot="bottom">
        <slot />
    </Fragment>
</div>

<style>
    .div-wrapper {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px;
        /* background-color: #e9e5e7cd; */
        background: linear-gradient(
                0deg,
                rgba(209, 151, 188, 0.3) 0%,
                rgba(209, 151, 188, 0.3) 100%
            ),
            linear-gradient(
                180deg,
                #fff 0%,
                rgba(245, 236, 239, 0.61) 18%,
                #ddb4c1 100%
            );
        border-radius: 2px 50px 50px 2px;
        box-shadow: 0px 2px 4px #b1a4aacc;
    }

    .text-wrapper-3 {
        min-height: 60px;
        align-content: center;
        margin-top: -1px;
        font-family: var(--small-title-j-font-family);
        font-weight: var(--small-title-j-font-weight);
        font-size: var(--small-title-j-font-size);
        letter-spacing: var(--small-title-j-letter-spacing);
        line-height: var(--small-title-j-line-height);
        font-style: var(--small-title-j-font-style);
    }
    .hannari {
        font-family: 'Hannari Mincho', Helvetica;
        letter-spacing: 0;
    }
    .font-thin {
        -webkit-font-smoothing: antialiased;
    }
</style>
