img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-touch-callout: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

.embla {
  max-width: 48rem;
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  border-radius: 1.8rem;
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--slide-height);
}

.embla__controls {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  gap: 1.2rem;
}

.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}

.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 3.6rem;
  height: 3.6rem;
  z-index: 1;
  border-radius: 50%;
  color: var(--text-body);
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 35%;
  height: 35%;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: '';
  background-color: #5454541f;
  border: 1px solid #f4f4f48f;
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  border: 1px solid #7a7a7ab0;
}

@font-face {
  font-family: 'Hannari Mincho';
  src: url('/fonts/HannariMincho.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: normal;
}

@font-face {
  font-family: 'Hannari Mincho';
  src: url('/fonts/HannariMincho-Bold.woff') format('woff');
  font-style: normal;
  font-display: swap;
  font-weight: bold;
}

.textblack {
  color: #71717a;
  letter-spacing: 2.08px;
  font-family: "Ryo Gothic PlusN", Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
}

.textpink {
  color: #c697a5;
  letter-spacing: 2.08px;
  font-family: "Ryo Gothic PlusN", Helvetica;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-size: 16px;
}

.hina-mincho {
  font-family: "Hina Mincho";
  font-style: normal !important;
  font-weight: 100 !important;
  line-height: normal !important;
  -webkit-font-smoothing: antialiased;
}

.about {
  top: 43px;
  left: 0;
  font-family: "Hina Mincho", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 24px;
  letter-spacing: 2.88px;
  line-height: 144.9303150177002%;
  white-space: nowrap;
  font-style: normal;
}

.textblack_about {
  top: 0;
  left: 0;
  font-family: var(--mobile-h2-font-family);
  font-weight: var(--mobile-h2-font-weight);
  color: var(--grey);
  font-size: var(--mobile-h2-font-size);
  letter-spacing: var(--mobile-h2-letter-spacing);
  line-height: var(--mobile-h2-line-height);
  white-space: nowrap;
  font-style: var(--mobile-h2-font-style);
}

.textpink_about {
  color: #c697a5;
  letter-spacing: var(--mobile-h2-letter-spacing);
  font-family: var(--mobile-h2-font-family);
  font-style: var(--mobile-h2-font-style);
  font-weight: var(--mobile-h2-font-weight);
  line-height: var(--mobile-h2-line-height);
  font-size: var(--mobile-h2-font-size);
}

.mystory {
  top: 10px;
  left: 31px;
  font-weight: 400;
  color: rgba(82, 82, 91, 1);
  font-size: 30px;
  letter-spacing: 3.6px;
  line-height: 30px;
}

.title-big_mystory {
  font-size: 30px;
}

.title-small_mystory {
  font-size: 20px;
  letter-spacing: 0.48px;
}

.textblack_mystory {
  width: 305px;
  top: 83px;
  left: 16px;
  font-family: "Ryo Gothic PlusN", Helvetica;
  font-weight: 400;
  color: rgba(113, 113, 122, 1);
  font-size: 0.9rem;
  letter-spacing: 2.56px;
  line-height: 1.3rem;
  font-style: normal;
}

.yourstory {
  font-family: "Ryo Gothic PlusN", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 2.08px;
  font-style: normal;
  line-height: 0.8rem;
}

.title_yourstory {
  top: 0;
  left: 0;
  font-family: "Hina Mincho", Helvetica;
  font-weight: 400;
  color: rgba(161, 161, 170, 1);
  letter-spacing: 3.6px;
  line-height: 144.9303150177002%;
  font-style: normal;
  background: linear-gradient(90deg, #9e87be 0%, #c697a5 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textblack_yourstory {
  top: 0;
  left: 0;
  font-family: "Ryo Gothic PlusN", Helvetica;
  font-weight: 400;
  color: rgba(113, 113, 122, 1);
  font-size: 0.7rem;
  letter-spacing: 2.56px;
  line-height: inherit !important;
  font-style: normal;
}

.privacy {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  top: 248px;
  left: 38px;
}

.privacy_text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Ryo Gothic PlusN", Helvetica;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: -0.42px;
  line-height: normal;
  font-style: normal;
}

.element-all-rights {
  top: 296px;
  left: 7px;
  font-family: "Montserrat", Helvetica;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  letter-spacing: 0.10000000149011612px;
  line-height: 20px;
  white-space: nowrap;
  font-style: normal;
}