---
import { Image } from 'astro:assets';

import layer from '~/assets/layer/layer_check.svg';

import checkimage from '~/assets/check/checkimage.png';
import check from '~/assets/check/check.svg';
import checkline1 from '~/assets/check/checkline1.svg';
import checkline2 from '~/assets/check/checkline2.svg';
import dots from '~/assets/check/dots.svg';
import Checklist from '~/components/common/checklist.astro';

import Title from '~/components/common/title.astro';
---

<div class="box" id="check">
  <div
    class="check flex w-full flex-col items-center justify-center overflow-hidden"
  >
    <Title title_small="" title1="こんな人に" title2="　おすすめ" />
    <Image class="absolute w-full" src={layer} alt="" />
    <div class="overlap z-10">
      <div class="bg">
        <div class="overlap-group">
          <div class="div"></div>
        </div>
      </div>
      <div class="title">
        <div class="overlap-2"></div>
      </div>
      <div class="subtitle">
        <div class="overlap-3 flex">
          <Image class="group" src={checkline1} alt="" />
          <div class="text-wrapper-3">あなたはいくつ当てはまる？</div>
          <Image class="group" src={checkline2} alt="" />
        </div>
      </div>
      <div class="frame">
        <Checklist>
          <span class="span">女性は「</span>
          <span class="text-wrapper-4">かわいさ</span>
          <span class="span">」だけでなく、「</span>
          <span class="text-wrapper-4">賢さ</span>
          <span class="span">」も必要だと考えている</span>
        </Checklist>
        <Checklist>
          <span class="text-wrapper-4">向上心</span>
          <span class="span">や</span>
          <span class="text-wrapper-4">成長意欲</span>
          <span class="span">が高い</span>
        </Checklist>
        <Checklist>
          <span class="text-wrapper-4">夢</span>
          <span class="span">や</span>
          <span class="text-wrapper-4">目標</span>
          <span class="span">を持っている</span>
        </Checklist>
        <Checklist>
          <span class="span">惜しみなく</span>
          <span class="text-wrapper-4">自己投資</span>
          <span class="span">をする覚悟を持っている</span>
        </Checklist>
        <Checklist>
          <span class="text-wrapper-4">美容</span>
          <span class="span">や</span>
          <span class="text-wrapper-4">ビジネス</span>
          <span class="span">の話が好き</span>
        </Checklist>
        <Checklist>
          <span class="text-wrapper-4">グローバル</span>
          <span class="span">な思考を持っている</span>
        </Checklist>
        <Checklist>
          <span class="span">男性には頼るけど、</span>
          <span class="text-wrapper-4">依存はしたくない</span>
        </Checklist>
      </div>
    </div>
    <div class="check-image absolute z-50 mt-[38.5rem] max-w-md">
      <Image src={checkimage} alt="" class="trim h-[400px] object-cover" />
    </div>
    <div class="go-on-reading absolute z-[60] mt-[53rem]">
      <p class="element-2">
        <span class="span">この続きは</span>
        <span class="text-wrapper-5">3</span>
        <span class="span">つ以上当てはまった人だけ<br />読んでください。</span>
      </p>
    </div>
  </div>
</div>

<style>
  :root {
    --pale-pink: rgba(245, 236, 239, 1);
    --neutral: rgba(250, 250, 249, 1);
    --lightest-grey: rgba(228, 228, 231, 1);
    --light-grey: rgba(161, 161, 170, 1);
    --grey: rgba(113, 113, 122, 1);
    --dark-grey: rgba(82, 82, 91, 1);
    --black: rgba(39, 39, 42, 1);
    --mobile-h1-font-family: 'Hina Mincho', Helvetica;
    --mobile-h1-font-weight: 400;
    --mobile-h1-font-size: 40px;
    --mobile-h1-letter-spacing: 0px;
    --mobile-h1-line-height: normal;
    --mobile-h1-font-style: normal;
    --mobile-h2-font-family: 'Hina Mincho', Helvetica;
    --mobile-h2-font-weight: 400;
    --mobile-h2-font-size: 24px;
    --mobile-h2-letter-spacing: 2.88px;
    --mobile-h2-line-height: 144.9303150177002%;
    --mobile-h2-font-style: normal;
    --mobile-body-font-family: 'Ryo Gothic PlusN', Helvetica;
    --mobile-body-font-weight: 400;
    --mobile-body-font-size: 16px;
    --mobile-body-letter-spacing: 2.08px;
    --mobile-body-line-height: 22px;
    --mobile-body-font-style: normal;
    --small-title-j-font-family: 'Ryo Gothic PlusN', Helvetica;
    --small-title-j-font-weight: 400;
    --small-title-j-font-size: 20px;
    --small-title-j-letter-spacing: 0px;
    --small-title-j-line-height: normal;
    --small-title-j-font-style: normal;
    --small-text-j-font-family: 'Ryo Gothic PlusN', Helvetica;
    --small-text-j-font-weight: 400;
    --small-text-j-font-size: 14px;
    --small-text-j-letter-spacing: -0.42px;
    --small-text-j-line-height: normal;
    --small-text-j-font-style: normal;
    --script-font-family: 'Charlotte', Helvetica;
    --script-font-weight: 400;
    --script-font-size: 20px;
    --script-letter-spacing: 0px;
    --script-line-height: normal;
    --script-font-style: normal;
    --h1-e-font-family: 'Cinzel Decorative', Helvetica;
    --h1-e-font-weight: 400;
    --h1-e-font-size: 64px;
    --h1-e-letter-spacing: 1.92px;
    --h1-e-line-height: normal;
    --h1-e-font-style: normal;
    --h2-j-font-family: 'Hina Mincho', Helvetica;
    --h2-j-font-weight: 400;
    --h2-j-font-size: 30px;
    --h2-j-letter-spacing: 3.6px;
    --h2-j-line-height: 144.9303150177002%;
    --h2-j-font-style: normal;
    --body-j-font-family: 'Ryo Gothic PlusN', Helvetica;
    --body-j-font-weight: 400;
    --body-j-font-size: 16px;
    --body-j-letter-spacing: 2.56px;
    --body-j-line-height: 24px;
    --body-j-font-style: normal;
    --montserrat-font-family: 'Montserrat', Helvetica;
    --montserrat-font-weight: 500;
    --montserrat-font-size: 14px;
    --montserrat-letter-spacing: 0.10000000149011612px;
    --montserrat-line-height: 20px;
    --montserrat-font-style: normal;
    --h1-j-font-family: 'Hina Mincho', Helvetica;
    --h1-j-font-weight: 400;
    --h1-j-font-size: 64px;
    --h1-j-letter-spacing: 4.48px;
    --h1-j-line-height: normal;
    --h1-j-font-style: normal;
    --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
    --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
    --variable-collection-beige: rgba(229, 213, 203, 1);
    --variable-collection-pink: rgba(198, 151, 165, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-pale-pink: rgba(245, 236, 239, 1);
    --variable-collection-salmon: rgba(215, 169, 159, 1);
    --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
    --variable-collection-purple: rgba(158, 135, 190, 1);
  }

  .box {
  }

  .box .check {
    top: 0;
    left: 0;
  }

  .box .overlap {
    height: 900px;
  }

  .box .bg {
    top: 0;
    left: 0;
  }

  .box .overlap-group {
  }

  .box .element {
    object-fit: cover;
    top: 0;
    left: 0;
  }

  .box .div {
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(245, 236, 239, 0.48) 50.5%,
      rgba(221.48, 179.58, 193.4, 0.48) 100%
    );
    top: 0;
    left: 0;
  }

  .box .title {
    top: 40px;
    left: 34px;
  }

  .box .overlap-2 {
  }

  .box .title-2 {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    top: 0;
    left: 0;
  }

  .box .rectangle {
    margin-left: -19px;
    background-color: var(--variable-collection-salmon);
    transform: rotate(90deg);
  }

  .box .text-wrapper {
    margin-top: -1px;
    font-family: var(--mobile-h1-font-family);
    font-weight: var(--mobile-h1-font-weight);
    color: var(--grey);
    font-size: var(--mobile-h1-font-size);
    letter-spacing: var(--mobile-h1-letter-spacing);
    line-height: var(--mobile-h1-line-height);
    font-style: var(--mobile-h1-font-style);
  }

  .box .text-wrapper-2 {
    top: 57px;
    left: 134px;
    font-family: var(--mobile-h1-font-family);
    font-weight: var(--mobile-h1-font-weight);
    color: var(--grey);
    font-size: var(--mobile-h1-font-size);
    letter-spacing: var(--mobile-h1-letter-spacing);
    line-height: var(--mobile-h1-line-height);
    font-style: var(--mobile-h1-font-style);
  }

  .box .dots {
    top: 54px;
    left: 146px;
  }

  .box .ellipse {
    left: 0;
    top: 0;
    border-radius: 7px;
    filter: blur(4px);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(221, 180, 193, 0.12) 0%,
      rgba(221, 180, 193, 0.24) 0.01%,
      rgba(221.48, 179.58, 193.4, 0.84) 100%
    );
  }

  .box .ellipse-2 {
    left: 42px;
    top: 0;
    border-radius: 7px;
    filter: blur(4px);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(221, 180, 193, 0.12) 0%,
      rgba(221, 180, 193, 0.24) 0.01%,
      rgba(221.48, 179.58, 193.4, 0.84) 100%
    );
  }

  .box .ellipse-3 {
    left: 83px;
    top: 0;
    border-radius: 7px;
    filter: blur(4px);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(221, 180, 193, 0.12) 0%,
      rgba(221, 180, 193, 0.24) 0.01%,
      rgba(221.48, 179.58, 193.4, 0.84) 100%
    );
  }

  .box .ellipse-4 {
    left: 122px;
    top: 0;
    border-radius: 7px;
    filter: blur(4px);
    background: radial-gradient(
      50% 50% at 50% 50%,
      rgba(221, 180, 193, 0.12) 0%,
      rgba(221, 180, 193, 0.24) 0.01%,
      rgba(221.48, 179.58, 193.4, 0.84) 100%
    );
  }

  .box .subtitle {
    top: 163px;
    left: 68px;
  }

  .box .overlap-3 {
    left: -1px;
  }

  .box .text-wrapper-3 {
    top: 0;
    left: 23px;
    font-family: 'Ryo Gothic PlusN-M', Helvetica;
    font-weight: 400;
    color: var(--variable-collection-pink);
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.42px;
    line-height: normal;
  }

  .box .group {
    top: 4px;
    left: 0;
  }

  .box .frame {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    top: 211px;
    left: 30px;
  }

  .box .person-check {
    flex: 0 0 auto;
    margin-left: -4px;
  }

  .box .p {
    margin-top: -1px;
    font-family: var(--mobile-body-font-family);
    font-weight: var(--mobile-body-font-weight);
    color: transparent;
    font-size: var(--mobile-body-font-size);
    letter-spacing: var(--mobile-body-letter-spacing);
    line-height: var(--mobile-body-line-height);
    font-style: var(--mobile-body-font-style);
  }

  .box .span {
    color: #71717a;
    letter-spacing: var(--mobile-body-letter-spacing);
    font-family: var(--mobile-body-font-family);
    font-style: var(--mobile-body-font-style);
    font-weight: var(--mobile-body-font-weight);
    line-height: var(--mobile-body-line-height);
    font-size: var(--mobile-body-font-size);
  }

  .box .text-wrapper-4 {
    color: #c697a5;
    letter-spacing: var(--mobile-body-letter-spacing);
    font-family: var(--mobile-body-font-family);
    font-style: var(--mobile-body-font-style);
    font-weight: var(--mobile-body-font-weight);
    line-height: var(--mobile-body-line-height);
    font-size: var(--mobile-body-font-size);
  }

  .box .img {
    margin-bottom: -8px;
    flex: 0 0 auto;
    margin-left: -4px;
  }

  .box .div-2 {
    font-family: var(--mobile-body-font-family);
    font-weight: var(--mobile-body-font-weight);
    color: transparent;
    font-size: var(--mobile-body-font-size);
    letter-spacing: var(--mobile-body-letter-spacing);
    line-height: var(--mobile-body-line-height);
    font-style: var(--mobile-body-font-style);
  }

  .box .person-check-2 {
    margin-bottom: -4.01px;
    flex: 0 0 auto;
    margin-left: -4px;
  }

  .box .go-on-reading {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #ffffffb2;
    border-radius: 4px;
    backdrop-filter: blur(9.5px) brightness(100%);
    -webkit-backdrop-filter: blur(9.5px) brightness(100%);
  }

  .box .element-2 {
    margin-top: -1px;
    font-family: var(--mobile-body-font-family);
    font-weight: var(--mobile-body-font-weight);
    color: transparent;
    font-size: var(--mobile-body-font-size);
    text-align: center;
    letter-spacing: var(--mobile-body-letter-spacing);
    line-height: var(--mobile-body-line-height);
    font-style: var(--mobile-body-font-style);
  }

  .box .text-wrapper-5 {
    color: #d6a99f;
    letter-spacing: var(--mobile-body-letter-spacing);
    font-family: var(--mobile-body-font-family);
    font-style: var(--mobile-body-font-style);
    font-weight: var(--mobile-body-font-weight);
    line-height: var(--mobile-body-line-height);
    font-size: var(--mobile-body-font-size);
  }

  .trim {
    object-position: 50% 60%;
  }
</style>
