---
import JoinButton from '~/components/common/joinButton.astro';

import club from 'src/assets/contents/fake_club.png';
import column from 'src/assets/contents/fake_column.png';
import korean from 'src/assets/contents/fake_korean.png';
import live from 'src/assets/contents/fake_live.png';
import meetup from 'src/assets/contents/fake_meetup.png';
import slack from 'src/assets/contents/fake_slack.png';
import { Carousel } from '~/components/common/carousel.tsx';

import Title from '~/components/common/title.astro';

const slides = [live, meetup, korean, column, slack, club];
---

<div
  id="contents"
  class="z-20 flex flex-col items-center justify-center overflow-hidden"
>
  <Title title_small="メンバーだけの" title1="特典コンテンツ" title2="" />
  <div class="mt-10 block overflow-hidden">
    <Carousel client:load images={slides} />
  </div>
  <div class="default-button z-30">
    <div class="overlap-9">
      <JoinButton
        microcopy1=""
        microcopy2="＼入会できるのは今だけ／"
        text="　　今すぐ入会　　>"
      />
    </div>
  </div>
</div>
