---
import { Image } from "astro:assets";
import JoinButton from "~/components/common/joinButton.astro";

// import club from "src/assets/contents/club.png";
// import column from "src/assets/contents/column.png";
// import korean from "src/assets/contents/korean.png";
// import live from "src/assets/contents/live.png";
// import meetup from "src/assets/contents/meetup.png";
// import slack from "src/assets/contents/slack.png";

// import schedule from "src/assets/contents/schedule.png";
import bg from "src/assets/contents/leafshadow.png";
import { Carousel } from "~/components/common/carousel.tsx";

import Title from "~/components/common/title.astro";
import { getImage } from "~/util/client";
import { Client } from "~/util/client";
import {
  readFile,
  readFiles,
  readItems,
  readSingleton,
  type Query,
} from "@directus/sdk";
import DImage from "~/components/common/DImage.astro";

type ContentsFiles = {
  id: number;
  contents_id: number;
  directus_files_id: string;
};

// Directusクライアント取得
const client = await new Client().create();
// Directusからprocessのデータを配列で取得
const obj = await client.request(readSingleton("contents"));
const schedule = await getImage(client, obj?.schedule as string);
//@ts-ignore
const files: ContentsFiles[] = await client.request(
  //@ts-ignore
  readItems("contents_files"),
);
const slides = await Promise.all(
  files
    ?.filter((f) => f.contents_id in (obj?.collections ?? []))
    .map(async (f) => await getImage(client, f?.directus_files_id)) ?? [],
).catch((e) => console.error(e));
---

<div
  id="contents"
  class="z-20 flex flex-col items-center justify-center overflow-hidden"
>
  <div class="relative w-full">
    <Image
      class="absolute left-0 right-0 top-0 -z-10 mx-auto"
      src={bg}
      alt="background image"
    />
  </div>
  <Title title_small="メンバーだけの" title1="特典コンテンツ" title2="" />
  <div class="lg:w-1/3">
    <div class="mt-10 block overflow-hidden">
      {
        Array.isArray(slides)
          ? <Carousel client:load images={slides} /> ?? null
          : null
      }
    </div>
    <div class="mt-10">
      <DImage class="" src={schedule} alt="" />
    </div>
    <div class="">
      <p class="font-thin text-[#98989c]" style="font-size:0.5rem">
        <span
          >*定員が埋まり次第締め切りとなります。なるべく多くの方が参加できるように枠を設けておりますが、</span
        >満員になることが多いので、入会後お早めにお申し込みください。
      </p>
    </div>
  </div>
</div>
<div class="default-button z-30">
  <div class="overlap-9">
    <JoinButton />
  </div>
</div>
