---
import { Image } from "astro:assets";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";

import shadowover from "~/assets/firstview/layer_firstview.png";

import hero_top from "~/assets/firstview/hero_top.png";
import bg from "~/assets/firstview/bg.svg";
import title from "~/assets/firstview/title.png";
import JoinButton from "~/components/common/joinButton.astro";
---

<div
  id="firstview"
  class="flex min-h-[800px] w-full flex-col items-center justify-center overflow-hidden pt-[68px] md:pt-[96px]"
>
  <Image
    class="absolute top-[68px] -z-10 w-full md:top-[96px]"
    src={bg}
    alt="background image"
  />
  <div class="flex flex-col pt-[52px]">
    <div class="lg:relative lg:flex lg:flex-row-reverse">
      <div class="lg:relative lg:w-2/3">
        <Image class="hero-top lg:relative lg:-top-24" src={hero_top} alt="" />
        <Image
          class="absolute top-0 w-full mix-blend-lighten"
          src={shadowover}
          alt=""
        />
      </div>
      <div class="lg:w-1/3">
        <Image
          class="absolute top-[400px] w-full lg:left-20 lg:top-60 lg:w-1/2"
          src={title}
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="pt-5">
    <JoinButton microcopy1="" microcopy2="＼募集は締め切りました／" />
  </div>
</div>

<style>
  .hina-mincho {
    font-family: "Hina Mincho";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .title-area {
    position: absolute;
    top: 29rem;
    left: 15%;
    .title-text {
      position: relative;
      font-size: 2.5rem;

      &.back {
        top: -1rem;
        color: white;
        filter: drop-shadow(0 0.3rem 0.13rem black);
        -webkit-text-stroke: 0.1rem #ffffff5e;
      }

      &.mid {
        left: -0.04rem;
        top: -4.7rem;
        opacity: 0.81;
        color: #c697a5;
      }

      &.front {
        left: -0.04rem;
        top: -8.3rem;
        background: linear-gradient(
          90deg,
          #c697a5 0%,
          #dbafbc 51.5%,
          #e1b0bf 100%
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        mix-blend-mode: color-burn;
      }
    }

    .subtitle {
      position: absolute;
      width: 251px;
      height: 89px;
      top: 2.4rem;

      .overlap-2 {
        position: relative;
        width: 247px;
        height: 89px;
      }

      .p {
        position: absolute;
        top: 10px;
        left: 18px;
        opacity: 0.7;
        font-family: "Hina Mincho-Regular", Helvetica;
        font-weight: 400;
        color: white;
        font-size: 24px;
        text-align: center;
        line-height: 24px;
      }

      .span {
        letter-spacing: 2.88px;
        line-height: 144.9303150177002%;
        font-size: 24px;
      }

      .text-wrapper-3 {
        font-size: 16px;
        letter-spacing: 0.31px;
        line-height: 23.2px;
      }

      .text-wrapper-4 {
        font-size: 16px;
        letter-spacing: 0;
      }

      .div-2 {
        position: absolute;
        top: 9px;
        left: 17px;
        color: transparent;
        font-size: 24px;
        text-align: center;
        line-height: 24px;
      }

      .text-wrapper-5 {
        color: #c697a5;
        letter-spacing: 2.88px;
        font-size: 24px;
      }

      .text-wrapper-6 {
        color: #71717a;
        font-size: 16px;
        letter-spacing: 0.31px;
        line-height: 23.2px;
      }

      .text-wrapper-7 {
        color: #71717a;
        font-size: 16px;
        letter-spacing: 0;
      }

      .group {
        position: absolute;
        width: 247px;
        height: 89px;
        top: 0;
        left: 0;
      }

      .quotation {
        top: 0;
        left: 0;
        position: absolute;
        opacity: 0.9;
      }
    }
  }
</style>
