---
import JoinButton from '~/components/common/joinButton.astro';
import Title from '~/components/common/title.astro';
import Step, { type Props as StepProps } from '~/components/common/step.astro';
import { Client } from '~/util/client';
import { readItems } from '@directus/sdk';

// Directusクライアント取得
const client = await new Client().create();
// Directusからprocessのデータを配列で取得
const steps = await client.request(readItems('process'));
---

<div
  id="process"
  class="flex flex-col items-center justify-center overflow-hidden"
>
  <Title title_small="" title1="入会プロセス" title2="" />
  <div class="flex w-3/4 flex-col">
    <div class="process-2">
      <div class="frame">
        <div class="header-mark"></div>
      </div>
      <!-- <div class="text-wrapper-2 mt-2">ご入会と活動開始までの流れ</div> -->
    </div>
    <div class="">
      <div class="vline"></div>
      {
        steps.map((obj, i) => (
          <div class="my-2 w-full">
            <Step
              number={obj.id?.toString()}
              title={obj.title}
              description={obj.description}
              annotation={obj.annotation}
              showVerticalLine={i !== steps.length - 1}
            />
          </div>
        ))
      }
    </div>
  </div>
  <div>
    <JoinButton />
  </div>
  <div class="w-72">
    <p class="font-thin text-[#98989c] text-xs">
      <span>▶サポートページは</span>
      <a
        class="underline visited:text-[#727296] hover:text-blue-800"
        href="https://empression-co.com/lp/support/"
        target="_blank"
        rel="noopener noreferrer"
        ><span>こちら</span>
      </a>
    </p>
  </div>
</div>

<style>
  :root {
    --pale-pink: rgba(245, 236, 239, 1);
    --neutral: rgba(250, 250, 249, 1);
    --lightest-grey: rgba(228, 228, 231, 1);
    --light-grey: rgba(161, 161, 170, 1);
    --grey: rgba(113, 113, 122, 1);
    --dark-grey: rgba(82, 82, 91, 1);
    --black: rgba(39, 39, 42, 1);
    --script-font-family: 'Charlotte', Helvetica;
    --script-font-weight: 400;
    --script-font-size: 20px;
    --script-letter-spacing: 0px;
    --script-line-height: normal;
    --script-font-style: normal;
    --h1-e-font-family: 'Cinzel Decorative', Helvetica;
    --h1-e-font-weight: 400;
    --h1-e-font-size: 64px;
    --h1-e-letter-spacing: 0px;
    --h1-e-line-height: normal;
    --h1-e-font-style: normal;
    --h2-j-font-family: 'HannariMincho', Helvetica;
    --h2-j-font-weight: 400;
    --h2-j-font-size: 28px;
    --h2-j-letter-spacing: 0px;
    --h2-j-line-height: normal;
    --h2-j-font-style: normal;
    --body-j-font-family: 'Sawarabi Gothic', Helvetica;
    --body-j-font-weight: 400;
    --body-j-font-size: 16px;
    --body-j-letter-spacing: 1.12px;
    --body-j-line-height: 24px;
    --body-j-font-style: normal;
    --button-j-font-family: 'Sawarabi Gothic', Helvetica;
    --button-j-font-weight: 400;
    --button-j-font-size: 14px;
    --button-j-letter-spacing: 0.10000000149011612px;
    --button-j-line-height: 20px;
    --button-j-font-style: normal;
    --small-text-j-font-family: 'Sawarabi Gothic', Helvetica;
    --small-text-j-font-weight: 400;
    --small-text-j-font-size: 14px;
    --small-text-j-letter-spacing: -0.42px;
    --small-text-j-line-height: normal;
    --small-text-j-font-style: normal;
    --small-title-j-font-family: 'Sawarabi Gothic', Helvetica;
    --small-title-j-font-weight: 400;
    --small-title-j-font-size: 20px;
    --small-title-j-letter-spacing: 0px;
    --small-title-j-line-height: normal;
    --small-title-j-font-style: normal;
    --list-j-font-family: 'Sawarabi Gothic', Helvetica;
    --list-j-font-weight: 400;
    --list-j-font-size: 16px;
    --list-j-letter-spacing: -1.44px;
    --list-j-line-height: 30px;
    --list-j-font-style: normal;
    --montserrat-font-family: 'Montserrat', Helvetica;
    --montserrat-font-weight: 500;
    --montserrat-font-size: 14px;
    --montserrat-letter-spacing: 0.10000000149011612px;
    --montserrat-line-height: 20px;
    --montserrat-font-style: normal;
    --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
    --variable-collection-beige: rgba(229, 213, 203, 1);
    --variable-collection-pink: rgba(198, 151, 165, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-pale-pink: rgba(245, 236, 239, 1);
    --variable-collection-salmon: rgba(215, 169, 159, 1);
    --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
    --variable-collection-purple: rgba(158, 135, 190, 1);
  }
  .text-wrapper-2 {
    color: #a1a1aa;
    letter-spacing: var(--mobile-body-letter-spacing);
    font-family: var(--mobile-body-font-family);
    font-style: var(--mobile-body-font-style);
    font-weight: var(--mobile-body-font-weight);
    line-height: var(--mobile-body-line-height);
    font-size: var(--mobile-body-font-size);
  }
</style>
