---
import { Image } from "astro:assets";

// import layer from '~/assets/layer/layer_yourstory.png';
import yourstoryimage from "~/assets/yourstory/yourstoryimage.png";

import JoinButton from "~/components/common/joinButton.astro";
import Title from "~/components/common/title.astro";
---

<div
  id="yourjourney"
  class="flex flex-col items-center justify-center overflow-hidden"
>
  <div class="yourstory mt-20 flex w-full flex-col">
    <div class="relative">
      <div class="absolute -top-14 w-full bg-[#ffffffba]">
        <Title title_small="" title1="START YOUR" title2="STORY" />
      </div>
      <Image class="yourstoryimage" src={yourstoryimage} alt="" />
      <div class="relative -top-10 left-6 h-max w-[90%]">
        <div
          class="absolute left-0 top-0 h-full w-full rounded-lg bg-[#db92a8ca] backdrop-blur-lg"
        >
        </div>
        <div
          class="relative -top-6 left-4 mb-10 h-max rounded-lg bg-[#ffffff] p-3 shadow-lg backdrop-blur-lg"
        >
          <div class="group">
            <div
              class="text-wrapper hina-mincho"
              style="background: linear-gradient(90deg, #9E87BE 0%, #C697A5 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;"
            >
              あなたらしく成長できる環境
            </div>
            <!-- <div class="text-wrapper-2">成長できる環境</div> -->
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <div class="underline"></div>
              <div class="underline-2"></div>
              <p class="p">
                <span class="span zenkaku-gothic">
                  「自分に自信を持ちたい」「理想の自分に近づきたい」<br />
                  <br />
                  このように感じていても行動できないのは<br />
                  あなたが本来いるべき場所にいないだけ。<br />
                  <br />
                  かわいく賢く生きる女性たちと同じ環境に身を置くことで<br />
                  あなた自身の価値観や行動も変わり自信を持てるようになります。<br
                  />
                  <br />
                </span>
              </p>
            </div>
          </div>
          <div class="group">
            <div
              class="text-wrapper hina-mincho"
              style="background: var(--bicolor, linear-gradient(90deg, #9E87BE 0%, #C697A5 100%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;"
            >
              かわいく賢い女性たちが<br />自分をアップデートする場所
            </div>
          </div>
          <div class="overlap-group-wrapper">
            <div class="overlap-group">
              <p class="p">
                <span class="span zenkaku-gothic">
                  うれしのサロンには、かわいく賢く生きる”を<br />
                  “体現しているうれしのちゃんをはじめ<br />
                  <br />
                  仕事や恋愛、美容といった輝く女性にとって<br />
                  欠かせない要素を磨き続ける心強い仲間がいます。<br />
                  <br />
                  自立した女性たちが切磋琢磨する質の高いコミュニティで<br />
                  一緒に人生をアップデートしませんか？<br />
                  <br />
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div class="default-button">
          <div class="overlap-9">
            <JoinButton microcopy1="" microcopy2="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  :root {
    --pale-pink: rgba(245, 236, 239, 1);
    --neutral: rgba(250, 250, 249, 1);
    --lightest-grey: rgba(228, 228, 231, 1);
    --light-grey: rgba(161, 161, 170, 1);
    --grey: rgba(113, 113, 122, 1);
    --dark-grey: rgba(82, 82, 91, 1);
    --black: rgba(39, 39, 42, 1);
    --mobile-h1-font-family: "Hina Mincho", Helvetica;
    --mobile-h1-font-weight: 400;
    --mobile-h1-font-size: 40px;
    --mobile-h1-letter-spacing: 0px;
    --mobile-h1-line-height: normal;
    --mobile-h1-font-style: normal;
    --mobile-h2-font-family: "Hina Mincho", Helvetica;
    --mobile-h2-font-weight: 400;
    --mobile-h2-font-size: 24px;
    --mobile-h2-letter-spacing: 2.88px;
    --mobile-h2-line-height: 144.9303150177002%;
    --mobile-h2-font-style: normal;
    --mobile-body-font-family: "Ryo Gothic PlusN", Helvetica;
    --mobile-body-font-weight: 400;
    --mobile-body-font-size: 16px;
    --mobile-body-letter-spacing: 2.08px;
    --mobile-body-line-height: 22px;
    --mobile-body-font-style: normal;
    --small-title-j-font-family: "Ryo Gothic PlusN", Helvetica;
    --small-title-j-font-weight: 400;
    --small-title-j-font-size: 20px;
    --small-title-j-letter-spacing: 0px;
    --small-title-j-line-height: normal;
    --small-title-j-font-style: normal;
    --small-text-j-font-family: "Ryo Gothic PlusN", Helvetica;
    --small-text-j-font-weight: 400;
    --small-text-j-font-size: 14px;
    --small-text-j-letter-spacing: -0.42px;
    --small-text-j-line-height: normal;
    --small-text-j-font-style: normal;
    --script-font-family: "Charlotte", Helvetica;
    --script-font-weight: 400;
    --script-font-size: 20px;
    --script-letter-spacing: 0px;
    --script-line-height: normal;
    --script-font-style: normal;
    --h1-e-font-family: "Cinzel Decorative", Helvetica;
    --h1-e-font-weight: 400;
    --h1-e-font-size: 64px;
    --h1-e-letter-spacing: 1.92px;
    --h1-e-line-height: normal;
    --h1-e-font-style: normal;
    --h2-j-font-family: "Hina Mincho", Helvetica;
    --h2-j-font-weight: 400;
    --h2-j-font-size: 30px;
    --h2-j-letter-spacing: 3.6px;
    --h2-j-line-height: 144.9303150177002%;
    --h2-j-font-style: normal;
    --body-j-font-family: "Ryo Gothic PlusN", Helvetica;
    --body-j-font-weight: 400;
    --body-j-font-size: 16px;
    --body-j-letter-spacing: 2.56px;
    --body-j-line-height: 24px;
    --body-j-font-style: normal;
    --montserrat-font-family: "Montserrat", Helvetica;
    --montserrat-font-weight: 500;
    --montserrat-font-size: 14px;
    --montserrat-letter-spacing: 0.10000000149011612px;
    --montserrat-line-height: 20px;
    --montserrat-font-style: normal;
    --h1-j-font-family: "Hina Mincho", Helvetica;
    --h1-j-font-weight: 400;
    --h1-j-font-size: 64px;
    --h1-j-letter-spacing: 4.48px;
    --h1-j-line-height: normal;
    --h1-j-font-style: normal;
    --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
    --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
    --variable-collection-beige: rgba(229, 213, 203, 1);
    --variable-collection-pink: rgba(198, 151, 165, 1);
    --variable-collection-white: rgba(255, 255, 255, 1);
    --variable-collection-pale-pink: rgba(245, 236, 239, 1);
    --variable-collection-salmon: rgba(215, 169, 159, 1);
    --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
    --variable-collection-purple: rgba(158, 135, 190, 1);
  }

  .text-wrapper {
    top: 0;
    left: 0;
    font-family: var(--h2-j-font-family);
    font-weight: var(--h2-j-font-weight);
    color: var(--light-grey);
    letter-spacing: var(--h2-j-letter-spacing);
    line-height: var(--h2-j-line-height);
    font-style: var(--h2-j-font-style);
  }

  .span {
    top: 0;
    left: 0;
    font-family: var(--body-j-font-family);
    font-weight: var(--body-j-font-weight);
    color: var(--grey);
    font-size: 0.7rem;
    letter-spacing: var(--body-j-letter-spacing);
    line-height: inherit !important;
    font-style: var(--body-j-font-style);
  }

  .box .text-wrapper-2 {
    top: 35px;
    left: 66px;
    background: linear-gradient(
      180deg,
      rgb(158, 135, 190) 0%,
      rgb(198, 151, 165) 100%
    );
    -webkit-background-clip: text !important;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    font-family: var(--mobile-h2-font-family);
    font-weight: var(--mobile-h2-font-weight);
    color: transparent;
    font-size: var(--mobile-h2-font-size);
    letter-spacing: var(--mobile-h2-letter-spacing);
    line-height: var(--mobile-h2-line-height);
    white-space: nowrap;
    font-style: var(--mobile-h2-font-style);
  }

  .p {
    font-family: var(--mobile-body-font-family);
    font-weight: var(--mobile-body-font-weight);
    color: transparent;
    font-size: var(--mobile-body-font-size);
    letter-spacing: var(--mobile-body-letter-spacing);
    font-style: var(--mobile-body-font-style);
    line-height: 0.8rem;
  }

  .box .text-wrapper-3 {
    color: #d6a99f;
    letter-spacing: var(--mobile-body-letter-spacing);
    font-family: var(--mobile-body-font-family);
    font-style: var(--mobile-body-font-style);
    font-weight: var(--mobile-body-font-weight);
    line-height: var(--mobile-body-line-height);
    font-size: var(--mobile-body-font-size);
  }

  .hina-mincho {
    font-family: "Hina Mincho";
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .zenkaku-gothic {
    font-family: "Zen Kaku Gothic New";
    font-style: normal;
    font-weight: normal;
    line-height: normal;
  }
</style>
