---
import { Image } from "astro:assets";

import ureshino1 from "~/assets/hero_top1.png";
import logo from "~/assets/logomark.png";
import description from "~/assets/upgrade_your_life.png";
---


<div class="box">
    <div class="community">
    <div class="overlap">
        <img class="bg" src="img/bg.png" />
        <img class="union" src="img/union.svg" />
        <img class="union" src="img/union.png" />
        <div class="meetup">
        <div class="overlap-group"><div class="rectangle"></div></div>
        </div>
        <div class="overlap-wrapper">
        <div class="div">
            <div class="rectangle-2"></div>
            <div class="rectangle-3"></div>
        </div>
        </div>
        <div class="two">
        <div class="rectangle-wrapper"><div class="rectangle-4"></div></div>
        </div>
        <div class="title">
        <div class="frame">
            <div class="header-mark"></div>
            <div class="text-wrapper">磨き合える<br />コミュニティ</div>
        </div>
        </div>
        <div class="group">
        <div class="overlap-2">
            <div class="rectangle-5"></div>
            <div class="text-wrapper-2">第２期メンバー募集中</div>
        </div>
        </div>
        <div class="ureshino-salon"><div class="text-wrapper-3">Ureshino Salon</div></div>
        <div class="text">
        <div class="overlap-3">
            <div class="overlap-group-wrapper">
            <div class="overlap-4">
                <div class="flexcontainer">
                <p class="span-wrapper">
                    <span class="span">　　　　　女性たちが<br /></span>
                </p>
                <p class="p">
                    <span class="span">自分を</span>
                    <span class="text-wrapper-4">アップデート</span>
                    <span class="span">する場所</span>
                </p>
                </div>
                <div class="div-wrapper">
                <div class="overlap-group-2">
                    <div class="text-wrapper-5">かわいく</div>
                    <div class="text-wrapper-6">賢い</div>
                </div>
                </div>
            </div>
            </div>
            <div class="dots">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="ellipse-3"></div>
            <div class="ellipse-4"></div>
            <div class="ellipse-5"></div>
            <div class="ellipse-6"></div>
            </div>
        </div>
        </div>
        <div class="default-button">
        <div class="overlap-5">
            <div class="frame-2">
            <div class="text-wrapper-7">今すぐ入会</div>
            <img class="arrow-forward-ios" src="img/arrow-forward-ios.svg" />
            </div>
            <img class="intersect" src="img/intersect.svg" />
        </div>
        </div>
        <div class="label">
        <div class="overlap-6">
            <div class="group-2">
            <div class="watercolor-wrapper"><img class="watercolor" src="img/watercolor1-2.png" /></div>
            </div>
            <p class="element">
            <span class="text-wrapper-8">先着</span>
            <span class="text-wrapper-9">200</span>
            <span class="text-wrapper-8">名限定</span>
            </p>
        </div>
        </div>
    </div>
    </div>
</div>

<style>
    :root {
  --pale-pink: rgba(245, 236, 239, 1);
  --neutral: rgba(250, 250, 249, 1);
  --lightest-grey: rgba(228, 228, 231, 1);
  --light-grey: rgba(161, 161, 170, 1);
  --grey: rgba(113, 113, 122, 1);
  --dark-grey: rgba(82, 82, 91, 1);
  --black: rgba(39, 39, 42, 1);
  --script-font-family: "Charlotte", Helvetica;
  --script-font-weight: 400;
  --script-font-size: 20px;
  --script-letter-spacing: 0px;
  --script-line-height: normal;
  --script-font-style: normal;
  --h1-e-font-family: "Cinzel Decorative", Helvetica;
  --h1-e-font-weight: 400;
  --h1-e-font-size: 64px;
  --h1-e-letter-spacing: 1.92px;
  --h1-e-line-height: normal;
  --h1-e-font-style: normal;
  --h2-j-font-family: "Hina Mincho", Helvetica;
  --h2-j-font-weight: 400;
  --h2-j-font-size: 30px;
  --h2-j-letter-spacing: 3.6px;
  --h2-j-line-height: 144.9303150177002%;
  --h2-j-font-style: normal;
  --body-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --body-j-font-weight: 400;
  --body-j-font-size: 16px;
  --body-j-letter-spacing: 2.56px;
  --body-j-line-height: 24px;
  --body-j-font-style: normal;
  --small-text-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-text-j-font-weight: 400;
  --small-text-j-font-size: 14px;
  --small-text-j-letter-spacing: -0.42px;
  --small-text-j-line-height: normal;
  --small-text-j-font-style: normal;
  --small-title-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-title-j-font-weight: 400;
  --small-title-j-font-size: 20px;
  --small-title-j-letter-spacing: 0px;
  --small-title-j-line-height: normal;
  --small-title-j-font-style: normal;
  --montserrat-font-family: "Montserrat", Helvetica;
  --montserrat-font-weight: 500;
  --montserrat-font-size: 14px;
  --montserrat-letter-spacing: 0.10000000149011612px;
  --montserrat-line-height: 20px;
  --montserrat-font-style: normal;
  --h1-j-font-family: "Hina Mincho", Helvetica;
  --h1-j-font-weight: 400;
  --h1-j-font-size: 64px;
  --h1-j-letter-spacing: 4.48px;
  --h1-j-line-height: normal;
  --h1-j-font-style: normal;
  --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
  --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
  --variable-collection-beige: rgba(229, 213, 203, 1);
  --variable-collection-pink: rgba(198, 151, 165, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-pale-pink: rgba(245, 236, 239, 1);
  --variable-collection-salmon: rgba(215, 169, 159, 1);
  --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
  --variable-collection-purple: rgba(158, 135, 190, 1);
}

.box {
  width: 1454px;
  height: 1977px;
}

.box .community {
  width: 1454px;
  height: 1977px;
  top: 0;
  left: 0;
}

.box .overlap {
  position: relative;
  width: 1280px;
  height: 1977px;
  left: 82px;
}

.box .bg {
  position: absolute;
  width: 1280px;
  height: 1110px;
  top: 0;
  left: 0;
}

.box .union {
  position: absolute;
  width: 1280px;
  height: 953px;
  top: 1024px;
  left: 0;
}

.box .meetup {
  position: absolute;
  width: 448px;
  height: 460px;
  top: 637px;
  left: 150px;
}

.box .overlap-group {
  position: relative;
  width: 456px;
  height: 468px;
  top: -2px;
  left: -4px;
  background-image: url(./img/rectangle-14.png);
  background-size: 100% 100%;
}

.box .rectangle {
  position: relative;
  width: 448px;
  height: 460px;
  top: 2px;
  left: 4px;
  border-radius: 10px 10px 250px 250px;
  box-shadow: 0px 2px 4px #b1a4aacc;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.48) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.48) 100%
  );
  opacity: 0.66;
}

.box .overlap-wrapper {
  position: absolute;
  width: 732px;
  height: 628px;
  top: 252px;
  left: 245px;
}

.box .div {
  position: relative;
  height: 628px;
}

.box .rectangle-2 {
  position: absolute;
  width: 720px;
  height: 615px;
  top: 13px;
  left: 12px;
  background-color: #fffbfb;
  border-radius: 8px;
}

.box .rectangle-3 {
  position: absolute;
  width: 720px;
  height: 615px;
  top: 0;
  left: 0;
  border-radius: 8px;
  border: 2px solid;
  border-color: var(--variable-collection-white);
}

.box .two {
  position: absolute;
  width: 448px;
  height: 460px;
  top: 31px;
  left: 682px;
}

.box .rectangle-wrapper {
  position: relative;
  width: 456px;
  height: 468px;
  top: -2px;
  left: -4px;
  background-image: url(./img/rectangle-13.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .rectangle-4 {
  position: relative;
  width: 448px;
  height: 460px;
  top: 2px;
  left: 4px;
  border-radius: 250px 250px 10px 10px;
  box-shadow: var(--drop);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.28) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.28) 100%
  );
}

.box .title {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  position: absolute;
  top: 216px;
  left: 217px;
  background-color: #ffffff47;
  border-radius: 10px;
  backdrop-filter: blur(9.5px) brightness(100%);
  -webkit-backdrop-filter: blur(9.5px) brightness(100%);
}

.box .frame {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.box .header-mark {
  position: relative;
  width: 126px;
  height: 8px;
  margin-left: -59px;
  background-color: var(--variable-collection-salmon);
  transform: rotate(90deg);
}

.box .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  text-shadow: 3px 4px 20.5px #c19da8;
  font-family: var(--h1-j-font-family);
  font-weight: var(--h1-j-font-weight);
  color: var(--variable-collection-white);
  font-size: var(--h1-j-font-size);
  letter-spacing: var(--h1-j-letter-spacing);
  line-height: var(--h1-j-line-height);
  font-style: var(--h1-j-font-style);
}

.box .group {
  position: absolute;
  width: 722px;
  height: 28px;
  top: 672px;
  left: 257px;
}

.box .overlap-2 {
  position: relative;
  width: 720px;
  height: 28px;
}

.box .rectangle-5 {
  position: absolute;
  width: 720px;
  height: 25px;
  top: 2px;
  left: 0;
  background: linear-gradient(180deg, rgb(158, 135, 190) 0%, rgb(198, 151, 165) 100%);
}

.box .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 279px;
  font-family: "Ryo Gothic PlusN-B", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 14px;
  letter-spacing: 2.38px;
  line-height: normal;
}

.box .ureshino-salon {
  position: absolute;
  width: 484px;
  height: 245px;
  top: 392px;
  left: 259px;
}

.box .text-wrapper-3 {
  position: absolute;
  height: 149px;
  top: 47px;
  left: 11px;
  transform: rotate(-12.46deg);
  opacity: 0.99;
  font-family: "Charlotte-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-pale-pink);
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text {
  position: absolute;
  width: 497px;
  height: 177px;
  top: 456px;
  left: 357px;
}

.box .overlap-3 {
  position: relative;
  width: 499px;
  height: 177px;
}

.box .overlap-group-wrapper {
  position: absolute;
  width: 499px;
  height: 177px;
  top: 0;
  left: 0;
}

.box .overlap-4 {
  position: relative;
  width: 497px;
  height: 177px;
}

.box .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  position: absolute;
  width: 474px;
  height: 113px;
  top: 64px;
  left: 23px;
}

.box .span-wrapper {
  position: relative;
  align-self: stretch;
  font-family: "Hina Mincho-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 30px;
  letter-spacing: 3.6px;
  line-height: 43.5px;
}

.box .span {
  color: #a1a1aa;
  letter-spacing: var(--h2-j-letter-spacing);
  font-family: var(--h2-j-font-family);
  font-style: var(--h2-j-font-style);
  font-weight: var(--h2-j-font-weight);
  line-height: var(--h2-j-line-height);
  font-size: var(--h2-j-font-size);
}

.box .p {
  position: relative;
  align-self: stretch;
  margin-bottom: -26px;
  font-family: "Hina Mincho-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 30px;
  letter-spacing: 3.6px;
  line-height: 43.5px;
}

.box .text-wrapper-4 {
  color: #c697a5;
  font-size: 36px;
  letter-spacing: 1.56px;
  line-height: 52.2px;
}

.box .div-wrapper {
  position: absolute;
  width: 188px;
  height: 101px;
  top: 0;
  left: 0;
}

.box .overlap-group-2 {
  position: relative;
  width: 184px;
  height: 101px;
}

.box .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Hina Mincho-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-pink);
  font-size: 40px;
  letter-spacing: 4.8px;
  line-height: 58px;
  white-space: nowrap;
}

.box .text-wrapper-6 {
  position: absolute;
  top: 43px;
  left: 99px;
  font-family: "Hina Mincho-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-pink);
  font-size: 40px;
  letter-spacing: 4.8px;
  line-height: 58px;
  white-space: nowrap;
}

.box .dots {
  position: absolute;
  width: 215px;
  height: 29px;
  top: 106px;
  left: 133px;
  transform: rotate(3.98deg);
}

.box .ellipse {
  top: 14px;
  left: 0;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  transform: rotate(-3.98deg);
  filter: blur(4px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(221, 180, 193, 0.12) 0%,
    rgba(221, 180, 193, 0.24) 0.01%,
    rgba(221.48, 179.58, 193.4, 0.84) 100%
  );
}

.box .ellipse-2 {
  top: 9px;
  left: 81px;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  transform: rotate(-3.98deg);
  filter: blur(4px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(221, 180, 193, 0.12) 0%,
    rgba(221, 180, 193, 0.24) 0.01%,
    rgba(221.48, 179.58, 193.4, 0.84) 100%
  );
}

.box .ellipse-3 {
  top: 12px;
  left: 40px;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  transform: rotate(-3.98deg);
  filter: blur(4px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(221, 180, 193, 0.12) 0%,
    rgba(221, 180, 193, 0.24) 0.01%,
    rgba(221.48, 179.58, 193.4, 0.84) 100%
  );
}

.box .ellipse-4 {
  top: 6px;
  left: 121px;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  transform: rotate(-3.98deg);
  filter: blur(4px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(221, 180, 193, 0.12) 0%,
    rgba(221, 180, 193, 0.24) 0.01%,
    rgba(221.48, 179.58, 193.4, 0.84) 100%
  );
}

.box .ellipse-5 {
  top: 3px;
  left: 161px;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  transform: rotate(-3.98deg);
  filter: blur(4px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(221, 180, 193, 0.12) 0%,
    rgba(221, 180, 193, 0.24) 0.01%,
    rgba(221.48, 179.58, 193.4, 0.84) 100%
  );
}

.box .ellipse-6 {
  top: 0;
  left: 201px;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  transform: rotate(-3.98deg);
  filter: blur(4px);
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(221, 180, 193, 0.12) 0%,
    rgba(221, 180, 193, 0.24) 0.01%,
    rgba(221.48, 179.58, 193.4, 0.84) 100%
  );
}

.box .default-button {
  position: absolute;
  width: 260px;
  height: 84px;
  top: 756px;
  left: 487px;
  box-shadow: 1px 1px 2.1px #7e76d4, 0px 4px 4px #00000040;
}

.box .overlap-5 {
  position: relative;
  width: 280px;
  height: 84px;
  left: -10px;
  border-radius: 100px;
}

.box .frame-2 {
  display: inline-flex;
  align-items: flex-end;
  gap: 56px;
  padding: 32px 30px 32px 70px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a37dd21a;
  border-radius: 100px;
  box-shadow: 1px 1px 2.1px #7e76d4;
}

.box .text-wrapper-7 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Ryo Gothic PlusN-B", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 18px;
  letter-spacing: 4px;
  line-height: 20px;
  white-space: nowrap;
}

.box .arrow-forward-ios {
  position: relative;
  width: 18px;
  height: 18px;
}

.box .intersect {
  position: absolute;
  width: 263px;
  height: 35px;
  top: 0;
  left: 8px;
  mix-blend-mode: lighten;
}

.box .label {
  position: absolute;
  width: 192px;
  height: 142px;
  top: 664px;
  left: 328px;
  transform: rotate(12.7deg);
}

.box .overlap-6 {
  position: relative;
  height: 142px;
}

.box .group-2 {
  position: absolute;
  width: 192px;
  height: 142px;
  top: 0;
  left: 0;
  opacity: 0.94;
}

.box .watercolor-wrapper {
  position: relative;
  width: 193px;
  height: 109px;
  top: 16px;
  background-image: url(./img/watercolor1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .watercolor {
  position: absolute;
  width: 193px;
  height: 109px;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
  object-fit: cover;
}

.box .element {
  position: absolute;
  top: 58px;
  left: 15px;
  transform: rotate(-24.97deg);
  background: linear-gradient(180deg, rgb(158, 135, 190) 0%, rgb(198, 151, 165) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Ryo Gothic PlusN-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.64px;
  line-height: 24px;
  white-space: nowrap;
}

.box .text-wrapper-8 {
  color: #000000;
  letter-spacing: 0.1px;
}

.box .text-wrapper-9 {
  color: #000000;
  font-size: 40px;
}
</style>