---
import { Image } from "astro:assets";

import ureshino1 from "~/assets/hero_top1.png";
import logo from "~/assets/logomark.png";
import description from "~/assets/upgrade_your_life.png";
---

<div class="box">
    <div class="my-journey">
    <div class="overlap">
        <div class="group">
        <div class="overlap-group">
            <div class="div">
            <img class="flowers" src="img/flowers-2.svg" />
            <img class="img" src="img/flowers.svg" />
            <div class="gallery">
                <div class="card">
                <div class="frame"><div class="text-wrapper">電話占いに散財し恋愛に迷走</div></div>
                <img class="keyboard-double" src="img/keyboard-double-arrow-down-5.svg" />
                <div class="frame-2">
                    <img class="rectangle" src="img/rectangle-9-4.png" />
                    <div class="text-wrapper-2">理想の王子様が見つかる</div>
                </div>
                </div>
                <div class="card">
                <div class="frame"><div class="text-wrapper">異業種交流会に参加</div></div>
                <img class="keyboard-double" src="img/keyboard-double-arrow-down-4.svg" />
                <div class="frame-2">
                    <img class="rectangle-2" src="img/rectangle-9-5.png" />
                    <div class="text-wrapper-2">ヨーロッパ社交界に参加</div>
                </div>
                </div>
                <div class="card">
                <div class="frame"><div class="text-wrapper">美容に無頓着</div></div>
                <img class="keyboard-double" src="img/keyboard-double-arrow-down-2.svg" />
                <div class="frame-2">
                    <img class="rectangle-2" src="img/rectangle-9-2.png" />
                    <div class="text-wrapper-2">美容情報の発信者に</div>
                </div>
                </div>
            </div>
            <div class="gallery-2">
                <div class="card">
                <div class="frame"><div class="text-wrapper">ぽっちゃり体型</div></div>
                <img class="keyboard-double" src="img/keyboard-double-arrow-down-3.svg" />
                <div class="frame-2">
                    <img class="rectangle" src="img/rectangle-9-3.png" />
                    <div class="text-wrapper-2">女性からも憧れの的</div>
                </div>
                </div>
                <div class="card">
                <div class="frame"><div class="text-wrapper">東京で会社経営</div></div>
                <img class="keyboard-double" src="img/keyboard-double-arrow-down.svg" />
                <div class="frame-2">
                    <img class="rectangle-2" src="img/image.png" />
                    <div class="text-wrapper-2">マレーシアに移住し新規ビジネス展開</div>
                </div>
                </div>
                <div class="card">
                <div class="frame"><div class="text-wrapper">SNS未活用</div></div>
                <img class="keyboard-double" src="img/image.svg" />
                <div class="frame-2">
                    <img class="rectangle-2" src="img/rectangle-9.png" />
                    <div class="text-wrapper-2">大手出版社から写真集出版</div>
                </div>
                </div>
            </div>
            <img class="pearl" src="img/pearl2-4.png" />
            </div>
            <img class="pearl-2" src="img/pearl2-5.png" />
            <img class="pearl-3" src="img/pearl1-3.png" />
        </div>
        </div>
        <div class="frame-3">
        <div class="header-mark"></div>
        <div class="text-wrapper-3">My Journey</div>
        </div>
    </div>
    </div>
</div>

<style>
    :root {
  --pale-pink: rgba(245, 236, 239, 1);
  --neutral: rgba(250, 250, 249, 1);
  --lightest-grey: rgba(228, 228, 231, 1);
  --light-grey: rgba(161, 161, 170, 1);
  --grey: rgba(113, 113, 122, 1);
  --dark-grey: rgba(82, 82, 91, 1);
  --black: rgba(39, 39, 42, 1);
  --script-font-family: "Charlotte", Helvetica;
  --script-font-weight: 400;
  --script-font-size: 20px;
  --script-letter-spacing: 0px;
  --script-line-height: normal;
  --script-font-style: normal;
  --h1-e-font-family: "Cinzel Decorative", Helvetica;
  --h1-e-font-weight: 400;
  --h1-e-font-size: 64px;
  --h1-e-letter-spacing: 1.92px;
  --h1-e-line-height: normal;
  --h1-e-font-style: normal;
  --h2-j-font-family: "Hina Mincho", Helvetica;
  --h2-j-font-weight: 400;
  --h2-j-font-size: 30px;
  --h2-j-letter-spacing: 3.6px;
  --h2-j-line-height: 144.9303150177002%;
  --h2-j-font-style: normal;
  --body-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --body-j-font-weight: 400;
  --body-j-font-size: 16px;
  --body-j-letter-spacing: 2.56px;
  --body-j-line-height: 24px;
  --body-j-font-style: normal;
  --small-text-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-text-j-font-weight: 400;
  --small-text-j-font-size: 14px;
  --small-text-j-letter-spacing: -0.42px;
  --small-text-j-line-height: normal;
  --small-text-j-font-style: normal;
  --small-title-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-title-j-font-weight: 400;
  --small-title-j-font-size: 20px;
  --small-title-j-letter-spacing: 0px;
  --small-title-j-line-height: normal;
  --small-title-j-font-style: normal;
  --montserrat-font-family: "Montserrat", Helvetica;
  --montserrat-font-weight: 500;
  --montserrat-font-size: 14px;
  --montserrat-letter-spacing: 0.10000000149011612px;
  --montserrat-line-height: 20px;
  --montserrat-font-style: normal;
  --h1-j-font-family: "Hina Mincho", Helvetica;
  --h1-j-font-weight: 400;
  --h1-j-font-size: 64px;
  --h1-j-letter-spacing: 4.48px;
  --h1-j-line-height: normal;
  --h1-j-font-style: normal;
  --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
  --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
  --variable-collection-beige: rgba(229, 213, 203, 1);
  --variable-collection-pink: rgba(198, 151, 165, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-pale-pink: rgba(245, 236, 239, 1);
  --variable-collection-salmon: rgba(215, 169, 159, 1);
  --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
  --variable-collection-purple: rgba(158, 135, 190, 1);
}

.box {
  width: 1730px;
  height: 1282px;
}

.box .my-journey {
  width: 1730px;
  height: 1282px;
  top: 0;
  left: 0;
}

.box .overlap {
  position: relative;
  height: 1282px;
}

.box .group {
  position: absolute;
  width: 1730px;
  height: 1282px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  width: 1280px;
  height: 1282px;
  left: 243px;
}

.box .div {
  position: absolute;
  width: 1280px;
  height: 1282px;
  top: 0;
  left: 0;
}

.box .flowers {
  width: 282px;
  top: 525px;
  left: 0;
  position: absolute;
  height: 757px;
}

.box .img {
  width: 318px;
  top: 0;
  left: 962px;
  position: absolute;
  height: 757px;
}

.box .gallery {
  display: inline-flex;
  align-items: flex-start;
  gap: 33px;
  position: absolute;
  top: 166px;
  left: 150px;
}

.box .card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.box .frame {
  justify-content: center;
  gap: 10px;
  padding: 10px 10px 10px 14px;
  position: relative;
  flex: 0 0 auto;
  border-radius: 2px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: var(--grey);
  display: inline-flex;
  align-items: center;
}

.box .text-wrapper {
  margin-top: -8px;
  font-family: var(--body-j-font-family);
  color: var(--grey);
  letter-spacing: var(--body-j-letter-spacing);
  line-height: var(--body-j-line-height);
  position: relative;
  width: fit-content;
  font-weight: var(--body-j-font-weight);
  font-size: var(--body-j-font-size);
  white-space: nowrap;
  font-style: var(--body-j-font-style);
}

.box .keyboard-double {
  position: relative;
  width: 24px;
  height: 24px;
}

.box .frame-2 {
  flex-direction: column;
  gap: 16px;
  padding: 0px 0px 16px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-white);
  border-radius: 8px;
  box-shadow: 0px 2px 4px #b1a4aacc;
  display: inline-flex;
  align-items: center;
}

.box .rectangle {
  position: relative;
  width: 304px;
  height: 304px;
  object-fit: cover;
}

.box .text-wrapper-2 {
  font-family: "Ryo Gothic PlusN-L", Helvetica;
  color: var(--black);
  letter-spacing: -1.44px;
  line-height: 30px;
  position: relative;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
}

.box .rectangle-2 {
  position: relative;
  width: 304px;
  height: 304px;
}

.box .gallery-2 {
  display: inline-flex;
  align-items: flex-start;
  gap: 33px;
  position: absolute;
  top: 704px;
  left: 151px;
}

.box .pearl {
  width: 65px;
  height: 68px;
  top: 580px;
  left: 416px;
  position: absolute;
  object-fit: cover;
}

.box .pearl-2 {
  width: 60px;
  height: 63px;
  top: 86px;
  left: 867px;
  position: absolute;
  object-fit: cover;
}

.box .pearl-3 {
  position: absolute;
  width: 62px;
  height: 65px;
  top: 1171px;
  left: 700px;
  object-fit: cover;
}

.box .frame-3 {
  gap: 24px;
  position: absolute;
  top: 0;
  left: 394px;
  display: inline-flex;
  align-items: center;
}

.box .header-mark {
  position: relative;
  width: 66px;
  height: 8px;
  margin-left: -29px;
  background-color: var(--variable-collection-salmon);
  transform: rotate(90deg);
}

.box .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -2.5px;
  text-shadow: 0px 2px 8.7px #b1a4aa6e;
  -webkit-text-stroke: 1.5px transparent;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.48) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.48) 100%
  );
  -webkit-background-clip: text;
  font-family: var(--h1-e-font-family);
  font-weight: var(--h1-e-font-weight);
  color: var(--variable-collection-white);
  font-size: var(--h1-e-font-size);
  letter-spacing: var(--h1-e-letter-spacing);
  line-height: var(--h1-e-line-height);
  font-style: var(--h1-e-font-style);
}
</style>