---
import { Image } from "astro:assets";

import ureshino1 from "~/assets/hero_top1.png";
import logo from "~/assets/logomark.png";
import description from "~/assets/upgrade_your_life.png";
---

<div class="box">
    <div class="price">
    <div class="overlap">
        <img class="rectangle" src="img/rectangle-70.png" />
        <div class="white-border"></div>
        <img class="mask-group" src="img/mask-group.png" />
        <div class="div">
        <div class="header-mark"></div>
        <div class="text-wrapper">サロン会費</div>
        </div>
        <img class="flowers" src="img/flowers.png" />
        <div class="label">
        <div class="overlap-group">
            <div class="group">
            <div class="watercolor-wrapper"><img class="watercolor" src="img/watercolor1-2.png" /></div>
            </div>
            <div class="text-wrapper-2">期間限定！</div>
        </div>
        </div>
        <div class="price-card">
        <div class="frame">
            <div class="frame-2">
            <div class="frame-3">
                <div class="text-wrapper-3">月会費</div>
                <div class="frame-4">
                <div class="text-wrapper-4">3,480</div>
                <div class="text-wrapper-5">円</div>
                </div>
            </div>
            <img class="line" src="img/image.svg" />
            </div>
            <div class="flexcontainer">
            <p class="text">
                <span class="span">月払い<br /></span>
            </p>
            <p class="text">
                <span class="span">クレジットカード（Visa、Mastercard）のみ<br /></span>
            </p>
            <p class="text"><span class="span">毎月同日に自動カード決済となります。</span></p>
            </div>
            <div class="buynow">
            <button class="button">
                <button class="state-layer-wrapper">
                <div class="state-layer">
                    <img class="icon" src="img/icon.svg" />
                    <div class="label-text">購入</div>
                </div>
                </button>
            </button>
            </div>
        </div>
        <div class="overlap-group-wrapper">
            <div class="overlap-group-2">
            <div class="frame-5">
                <div class="frame-2">
                <div class="frame-3">
                    <div class="text-wrapper-3">年会費</div>
                    <div class="frame-4">
                    <div class="text-wrapper-4">29,800</div>
                    <div class="text-wrapper-5">円</div>
                    </div>
                </div>
                <img class="line" src="img/line-6.svg" />
                </div>
                <div class="flexcontainer">
                <p class="text">
                    <span class="span">年一括払い<br /></span>
                </p>
                <p class="text">
                    <span class="span">クレジットカード（Visa、Mastercard）のみ<br /></span>
                </p>
                <p class="text"><span class="span">毎月同日に自動カード決済となります。</span></p>
                </div>
                <div class="buynow">
                <button class="button">
                    <button class="state-layer-wrapper">
                    <div class="state-layer">
                        <img class="icon" src="img/icon-2.svg" />
                        <div class="label-text">購入</div>
                    </div>
                    </button>
                </button>
                </div>
            </div>
            <img class="img" src="img/group-45.png" />
            </div>
        </div>
        </div>
        <p class="p">
        <span class="text-wrapper-6">*決済完了を以って</span>
        <a href="https://empression-co.com/lp/salon-terms/" target="_blank" rel="noopener noreferrer"
            ><span class="text-wrapper-6">利用規約</span></a
        >
        <span class="text-wrapper-6">に同意したものとみなし、入会手続きが完了します。</span>
        </p>
        <p class="div-2">
        <span class="text-wrapper-7">うれしのサロンでは、メンバーがより親密に交流できるよう<br /></span>
        <span class="text-wrapper-8">会員数と募集期間の制限</span>
        <span class="text-wrapper-7"
            >を設けています。<br />次回の募集は未定です。<br />また募集期間中でも定員に達した場合は入会を締め切らせていただきます。</span
        >
        </p>
        <div class="underline"></div>
        <div class="limited-offer">
        <div class="overlap-2">
            <div class="pink-border"></div>
            <p class="element">
            <span class="text-wrapper-9">2024年</span>
            <span class="text-wrapper-10">4</span>
            <span class="text-wrapper-9">月</span>
            <span class="text-wrapper-10">21</span>
            <span class="text-wrapper-9">日(日)</span>
            <span class="text-wrapper-11">&nbsp;</span>
            <span class="text-wrapper-10">23:59</span>
            <span class="text-wrapper-11">&nbsp;</span>
            <span class="text-wrapper-9">まで</span>
            </p>
            <div class="badge">
            <div class="div-wrapper"><div class="text-wrapper-12">会員募集</div></div>
            </div>
            <p class="element-2">
            <span class="text-wrapper-13">先着 </span>
            <span class="text-wrapper-14">200</span>
            <span class="text-wrapper-13">名限定</span>
            </p>
            <div class="text-wrapper-15">Limited Offer</div>
        </div>
        </div>
        <div class="text-wrapper-16">お得な年間プランがオススメ</div>
        <div class="large-button">
        <div class="overlap-3">
            <div class="frame-6">
            <div class="text-wrapper-17">今すぐ入会</div>
            <img class="arrow-forward-ios" src="img/arrow-forward-ios.svg" />
            </div>
            <img class="intersect" src="img/intersect.svg" />
        </div>
        </div>
    </div>
    </div>
</div>

<style>
    :root {
  --pale-pink: rgba(245, 236, 239, 1);
  --neutral: rgba(250, 250, 249, 1);
  --lightest-grey: rgba(228, 228, 231, 1);
  --light-grey: rgba(161, 161, 170, 1);
  --grey: rgba(113, 113, 122, 1);
  --dark-grey: rgba(82, 82, 91, 1);
  --black: rgba(39, 39, 42, 1);
  --script-font-family: "Charlotte", Helvetica;
  --script-font-weight: 400;
  --script-font-size: 20px;
  --script-letter-spacing: 0px;
  --script-line-height: normal;
  --script-font-style: normal;
  --h1-e-font-family: "Cinzel Decorative", Helvetica;
  --h1-e-font-weight: 400;
  --h1-e-font-size: 64px;
  --h1-e-letter-spacing: 1.92px;
  --h1-e-line-height: normal;
  --h1-e-font-style: normal;
  --h2-j-font-family: "Hina Mincho", Helvetica;
  --h2-j-font-weight: 400;
  --h2-j-font-size: 30px;
  --h2-j-letter-spacing: 3.6px;
  --h2-j-line-height: 144.9303150177002%;
  --h2-j-font-style: normal;
  --body-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --body-j-font-weight: 400;
  --body-j-font-size: 16px;
  --body-j-letter-spacing: 2.56px;
  --body-j-line-height: 24px;
  --body-j-font-style: normal;
  --small-text-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-text-j-font-weight: 400;
  --small-text-j-font-size: 14px;
  --small-text-j-letter-spacing: -0.42px;
  --small-text-j-line-height: normal;
  --small-text-j-font-style: normal;
  --small-title-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-title-j-font-weight: 400;
  --small-title-j-font-size: 20px;
  --small-title-j-letter-spacing: 0px;
  --small-title-j-line-height: normal;
  --small-title-j-font-style: normal;
  --montserrat-font-family: "Montserrat", Helvetica;
  --montserrat-font-weight: 500;
  --montserrat-font-size: 14px;
  --montserrat-letter-spacing: 0.10000000149011612px;
  --montserrat-line-height: 20px;
  --montserrat-font-style: normal;
  --h1-j-font-family: "Hina Mincho", Helvetica;
  --h1-j-font-weight: 400;
  --h1-j-font-size: 64px;
  --h1-j-letter-spacing: 4.48px;
  --h1-j-line-height: normal;
  --h1-j-font-style: normal;
  --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
  --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
  --variable-collection-beige: rgba(229, 213, 203, 1);
  --variable-collection-pink: rgba(198, 151, 165, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-pale-pink: rgba(245, 236, 239, 1);
  --variable-collection-salmon: rgba(215, 169, 159, 1);
  --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
  --variable-collection-purple: rgba(158, 135, 190, 1);
}

.box {
  width: 1505px;
  height: 1426px;
}

.box .price {
  width: 1511px;
  height: 1426px;
  top: 0;
  left: 0;
}

.box .overlap {
  position: relative;
  width: 1286px;
  height: 1426px;
}

.box .rectangle {
  position: absolute;
  width: 1280px;
  height: 1220px;
  top: 93px;
  left: 0;
  mix-blend-mode: luminosity;
  object-fit: cover;
}

.box .white-border {
  position: absolute;
  width: 1280px;
  height: 338px;
  top: 1088px;
  left: 0;
  box-shadow: 0px 2px 4px #b1a4aacc;
  background: linear-gradient(
    180deg,
    rgba(251, 246, 249, 0) 0%,
    rgba(223.97, 198.06, 206.16, 0.6) 35.1%,
    rgb(198, 152, 165) 100%
  );
}

.box .mask-group {
  position: absolute;
  width: 449px;
  height: 660px;
  top: 766px;
  left: 0;
}

.box .div {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: absolute;
  top: 266px;
  left: 435px;
}

.box .header-mark {
  position: relative;
  width: 54px;
  height: 8px;
  background-color: var(--variable-collection-salmon);
}

.box .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h1-j-font-family);
  font-weight: var(--h1-j-font-weight);
  color: var(--grey);
  font-size: var(--h1-j-font-size);
  letter-spacing: var(--h1-j-letter-spacing);
  line-height: var(--h1-j-line-height);
  font-style: var(--h1-j-font-style);
}

.box .flowers {
  position: absolute;
  width: 322px;
  height: 788px;
  top: 209px;
  left: 958px;
  mix-blend-mode: multiply;
}

.box .label {
  position: absolute;
  width: 192px;
  height: 142px;
  top: 857px;
  left: 220px;
  transform: rotate(11.48deg);
}

.box .overlap-group {
  position: relative;
  width: 209px;
  height: 146px;
  top: -5px;
}

.box .group {
  position: absolute;
  width: 209px;
  height: 146px;
  top: 0;
  left: 0;
  opacity: 0.94;
}

.box .watercolor-wrapper {
  position: relative;
  height: 115px;
  top: 16px;
  background-image: url(./img/watercolor1-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .watercolor {
  position: absolute;
  width: 209px;
  height: 115px;
  top: 0;
  left: 0;
  mix-blend-mode: darken;
  object-fit: cover;
}

.box .text-wrapper-2 {
  position: absolute;
  top: 60px;
  left: 28px;
  transform: rotate(-24.97deg);
  background: linear-gradient(180deg, rgb(158, 135, 190) 0%, rgb(198, 151, 165) 100%);
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-family: "Ryo Gothic PlusN-B", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 32px;
  text-align: center;
  letter-spacing: -0.64px;
  line-height: 24px;
  white-space: nowrap;
}

.box .price-card {
  position: absolute;
  width: 813px;
  height: 480px;
  top: 391px;
  left: 306px;
}

.box .frame {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 40px 24px;
  position: absolute;
  top: 16px;
  left: 0;
  background-color: var(--variable-collection-white);
  border-radius: 10px;
  border-top-width: 12px;
  border-top-style: solid;
  border-color: var(--variable-collection-purple);
}

.box .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  position: relative;
  flex: 0 0 auto;
}

.box .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 64px;
  position: relative;
  flex: 0 0 auto;
}

.box .text-wrapper-3 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Sawarabi Gothic-Regular", Helvetica;
  font-weight: 400;
  color: var(--grey);
  font-size: 32px;
  letter-spacing: 2.24px;
  line-height: 24px;
  white-space: nowrap;
}

.box .frame-4 {
  display: inline-flex;
  align-items: flex-start;
  justify-content: center;
  gap: 5px;
  position: relative;
  flex: 0 0 auto;
}

.box .text-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--dark-grey);
  font-size: 64px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.box .text-wrapper-5 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Sawarabi Gothic-Regular", Helvetica;
  font-weight: 400;
  color: var(--dark-grey);
  font-size: 24px;
  letter-spacing: 1.68px;
  line-height: 24px;
  white-space: nowrap;
}

.box .line {
  position: relative;
  width: 157px;
  height: 1px;
  object-fit: cover;
}

.box .flexcontainer {
  display: flex;
  flex-direction: column;
  width: 283px;
  align-items: flex-start;
  gap: 5px;
}

.box .text {
  position: relative;
  align-self: stretch;
  font-family: var(--body-j-font-family);
  font-weight: var(--body-j-font-weight);
  color: var(--grey);
  font-size: var(--body-j-font-size);
  letter-spacing: var(--body-j-letter-spacing);
  line-height: var(--body-j-line-height);
  font-style: var(--body-j-font-style);
}

.box .span {
  letter-spacing: var(--body-j-letter-spacing);
  font-family: var(--body-j-font-family);
  font-style: var(--body-j-font-style);
  font-weight: var(--body-j-font-weight);
  line-height: var(--body-j-line-height);
  font-size: var(--body-j-font-size);
}

.box .buynow {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.box .button {
  all: unset;
  box-sizing: border-box;
  align-items: flex-start;
  flex: 0 0 auto;
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.box .state-layer-wrapper {
  all: unset;
  box-sizing: border-box;
  height: 42px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: -1px;
  margin-bottom: -1px;
  margin-left: -1px;
  margin-right: -1px;
  border-radius: 100px;
  overflow: hidden;
  border: 1px solid;
  border-color: var(--variable-collection-purple);
  display: inline-flex;
  flex-direction: column;
  position: relative;
}

.box .state-layer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px 24px 10px 16px;
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.box .icon {
  position: relative;
  width: 18px;
  height: 18px;
}

.box .label-text {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--montserrat-font-family);
  font-weight: var(--montserrat-font-weight);
  color: var(--variable-collection-purple);
  font-size: var(--montserrat-font-size);
  text-align: center;
  letter-spacing: var(--montserrat-letter-spacing);
  line-height: var(--montserrat-line-height);
  white-space: nowrap;
  font-style: var(--montserrat-font-style);
}

.box .overlap-group-wrapper {
  position: absolute;
  width: 426px;
  height: 480px;
  top: 0;
  left: 387px;
}

.box .overlap-group-2 {
  position: relative;
  width: 430px;
  height: 480px;
}

.box .frame-5 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 60px 24px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--variable-collection-white);
  border-radius: 10px;
  border-style: solid;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-color: transparent;
  box-shadow: 0px 4px 100px #17123f38;
  border-image: linear-gradient(to bottom, rgb(158, 135, 190), rgb(198, 151, 165)) 1;
}

.box .img {
  position: absolute;
  width: 183px;
  height: 61px;
  top: 29px;
  left: 247px;
}

.box .p {
  position: absolute;
  height: 28px;
  top: 1130px;
  left: 415px;
  font-family: var(--small-text-j-font-family);
  font-weight: var(--small-text-j-font-weight);
  color: var(--grey);
  font-size: var(--small-text-j-font-size);
  letter-spacing: var(--small-text-j-letter-spacing);
  line-height: var(--small-text-j-line-height);
  font-style: var(--small-text-j-font-style);
}

.box .text-wrapper-6 {
  letter-spacing: var(--small-text-j-letter-spacing);
  font-family: var(--small-text-j-font-family);
  font-style: var(--small-text-j-font-style);
  font-weight: var(--small-text-j-font-weight);
  line-height: var(--small-text-j-line-height);
  font-size: var(--small-text-j-font-size);
}

.box .div-2 {
  position: absolute;
  width: 814px;
  top: 1222px;
  left: 230px;
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Ryo Gothic PlusN-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-7 {
  font-family: var(--small-title-j-font-family);
  font-weight: var(--small-title-j-font-weight);
  color: #ffffff;
  font-size: var(--small-title-j-font-size);
  letter-spacing: var(--small-title-j-letter-spacing);
  font-style: var(--small-title-j-font-style);
  line-height: var(--small-title-j-line-height);
}

.box .text-wrapper-8 {
  font-size: 28px;
}

.box .underline {
  position: absolute;
  width: 189px;
  height: 11px;
  top: 1350px;
  left: 525px;
  mix-blend-mode: multiply;
  background-image: url(./img/underline-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .limited-offer {
  position: absolute;
  width: 1286px;
  height: 210px;
  top: 0;
  left: 0;
}

.box .overlap-2 {
  position: relative;
  width: 1280px;
  height: 210px;
}

.box .pink-border {
  position: absolute;
  width: 1280px;
  height: 96px;
  top: 92px;
  left: 0;
  box-shadow: 0px 4px 100px #d6a99f96, 0px 4px 4px #d6a99f, 0px 4px 4px #00000040;
  background: linear-gradient(
    180deg,
    rgb(198, 151, 165) 0%,
    rgb(224.12, 191.92, 201.51) 47.5%,
    rgb(198, 151, 165) 100%
  );
}

.box .element {
  position: absolute;
  top: 132px;
  left: 71px;
  text-shadow: 3px 4px 5.8px #c19da8;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-white);
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  box-shadow: var(--pink-shadow);
}

.box .text-wrapper-9 {
  letter-spacing: 0.02px;
}

.box .text-wrapper-10 {
  font-size: 48px;
  letter-spacing: 0.05px;
}

.box .text-wrapper-11 {
  font-size: 32px;
  letter-spacing: 0.03px;
}

.box .badge {
  position: absolute;
  width: 138px;
  height: 136px;
  top: 74px;
  left: 594px;
  box-shadow: 0px 4px 4px #00000040;
}

.box .div-wrapper {
  position: relative;
  width: 154px;
  height: 154px;
  top: -9px;
  left: -9px;
  border-radius: 77px;
  border: 9px solid;
  border-color: #ffffff;
  box-shadow: 0px 2px 4px #b1a4aacc;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgb(198, 151, 165) 0%,
    rgb(237.07, 214.15, 220.98) 0.01%,
    rgb(213.79, 180.52, 190.43) 51%,
    rgb(198, 151, 165) 100%
  );
}

.box .text-wrapper-12 {
  position: absolute;
  top: 58px;
  left: 19px;
  text-shadow: 3px 4px 5.8px #c19da8;
  font-family: "Montserrat-ExtraBold", Helvetica;
  font-weight: 800;
  color: var(--variable-collection-white);
  font-size: 24px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
}

.box .element-2 {
  position: absolute;
  top: 125px;
  left: 807px;
  text-shadow: 3px 4px 5.8px #c19da8;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-white);
  font-size: 40px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  box-shadow: var(--pink-shadow);
}

.box .text-wrapper-13 {
  letter-spacing: 0.04px;
}

.box .text-wrapper-14 {
  font-size: 64px;
  letter-spacing: 0.06px;
}

.box .text-wrapper-15 {
  position: absolute;
  top: 45px;
  left: 520px;
  transform: rotate(-22.22deg);
  text-shadow: 0px 4px 4px #00000040;
  font-family: "Charlotte-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.box .text-wrapper-16 {
  position: absolute;
  top: 245px;
  left: 513px;
  font-family: var(--small-title-j-font-family);
  font-weight: var(--small-title-j-font-weight);
  color: var(--variable-collection-salmon);
  font-size: var(--small-title-j-font-size);
  letter-spacing: var(--small-title-j-letter-spacing);
  line-height: var(--small-title-j-line-height);
  font-style: var(--small-title-j-font-style);
}

.box .large-button {
  position: absolute;
  width: 570px;
  height: 140px;
  top: 948px;
  left: 355px;
  box-shadow: 0px 4px 4px #00000040, 0px 4px 4px #00000040;
}

.box .overlap-3 {
  position: relative;
  height: 149px;
  top: -8px;
}

.box .frame-6 {
  display: inline-flex;
  height: 140px;
  align-items: flex-end;
  gap: 150px;
  padding: 60px 40px 60px 180px;
  position: absolute;
  top: 9px;
  left: 0;
  border-radius: 100px;
  box-shadow: 1px 1px 2.1px #7e76d4;
  background: linear-gradient(180deg, rgba(214.75, 169.04, 159.39, 0.34) 0%, rgba(158, 135, 190, 0.34) 100%);
}

.box .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  text-shadow: 0px 2px 4px #b1a4aacc;
  font-family: "Ryo Gothic PlusN-B", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-white);
  font-size: 32px;
  letter-spacing: 4px;
  line-height: 20px;
  white-space: nowrap;
}

.box .arrow-forward-ios {
  position: relative;
  width: 24px;
  height: 24px;
  margin-top: -4px;
}

.box .intersect {
  position: absolute;
  width: 530px;
  height: 71px;
  top: 0;
  left: 19px;
  mix-blend-mode: lighten;
}
</style>
