---
import { Image } from "astro:assets";

import ureshino1 from "~/assets/hero_top1.png";
import logo from "~/assets/logomark.png";
import description from "~/assets/upgrade_your_life.png";
---

<div class="box">
  <div class="process">
    <div class="overlap-group">
      <div class="bg">
        <div class="overlap-group">
          <div class="div"></div>
          <div class="bg-2"></div>
          <img class="img" src="img/bg.png" />
          <div class="group">
            <div class="ellipse"></div>
            <div class="ellipse-2"></div>
            <div class="ellipse-3"></div>
          </div>
        </div>
      </div>
      <div class="process-2">
        <div class="frame">
          <div class="header-mark"></div>
          <div class="text-wrapper">入会プロセス</div>
        </div>
        <div class="text-wrapper-2">ご入会と活動開始までの流れ</div>
      </div>
      <img class="line" src="img/line-7.svg" />
      <div class="frame-2">
        <div class="element">
          <div class="overlap-group-2">
            <div class="frame-3">
              <div class="div-wrapper"><div class="text-wrapper-3">会費のお支払い</div></div>
              <div class="frame-4">
                <div class="flexcontainer">
                  <p class="text">
                    <span class="span"
                      >当ページの「今すぐ入会する」ボタンをクリックし、必要情報をご入力の上、会費の決済をお願いいたします。入会後は、毎月、入会手続き（会費の決済）が完了した日（起点日のない月は、その月の末日）に、ご登録のクレジットカード/デビットカードにて自動決済されます。《例》<br
                    /></span>
                  </p>
                  <p class="text">
                    <span class="span">入会決済日1月10日→次回決済日2月10日→以後も毎月10日に決済</span>
                  </p>
                </div>
              </div>
            </div>
            <p class="step"><span class="text-wrapper-4">Step </span> <span class="text-wrapper-5">01</span></p>
          </div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap">
            <div class="frame-3">
              <div class="div-wrapper"><div class="text-wrapper-3">Slack へのご招待</div></div>
              <div class="frame-4">
                <p class="div-2">
                  <span class="span">決済完了後、そのまま</span>
                  <a href="https://lin.ee/GfMc8mc" target="_blank" rel="noopener noreferrer"
                    ><span class="text-wrapper-6">公式LINE</span></a
                  >
                  <span class="span"
                    >の画面に遷移し、Slackへの招待リンクが付いた自動返信メッセージが届きます。Slackのアカウントをお持ちでない方は、アカウントをご登録の上、ご招待リンクよりチャットグループにご参加ください。
                    *PCから決済をされた場合は、LINEのQRコードが表示されますので、スマートフォンのLINEアプリにてスキャンをしてください。
                    *万が一、決済後の遷移画面を閉じてしまった場合には、自動メッセージが届かないため、お手数ですが</span
                  >
                  <a href="https://lin.ee/GfMc8mc" target="_blank" rel="noopener noreferrer"
                    ><span class="text-wrapper-6">公式LINE</span></a
                  >
                  <span class="span"
                    >に「ご登録のお名前とメールアドレス」と「Slackの招待メッセージを再送してください」とご連絡ください。</span
                  >
                </p>
              </div>
            </div>
            <p class="step"><span class="text-wrapper-4">Step </span> <span class="text-wrapper-5">02</span></p>
          </div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-2">
            <div class="frame-3">
              <div class="div-wrapper"><div class="text-wrapper-3">Slackのガイダンス確認</div></div>
              <div class="frame-4">
                <div class="div-2">
                  ご招待したSlackに入りましたら、チャンネルメニューの中の「01_まず初めに-ガイダンス」をご覧ください。うれしのサロンの活用方法と今後の活動の流れがわかります。
                </div>
              </div>
            </div>
            <p class="step"><span class="text-wrapper-4">Step </span> <span class="text-wrapper-5">03</span></p>
          </div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-2">
            <div class="frame-3">
              <div class="div-wrapper"><div class="text-wrapper-3">自己紹介</div></div>
              <div class="frame-4">
                <div class="div-2">
                  Slackの「自己紹介ルーム」で、必ず自己紹介をお願いします。自己紹介が完了した方のみ、Instagramのコンテンツを閲覧できるようになります。
                </div>
              </div>
            </div>
            <p class="step"><span class="text-wrapper-4">Step </span> <span class="text-wrapper-5">04</span></p>
          </div>
        </div>
        <div class="element-2">
          <div class="overlap-3">
            <div class="frame-3">
              <div class="div-wrapper"><div class="text-wrapper-3">Instagramへご招待</div></div>
              <div class="frame-4">
                <div class="div-2">
                  決済完了後の自動返信メッセージに、サロンメンバー限定のInstagramアカウントのリンクを記載しておりますのでフォローをお願いします。自己紹介が完了した方へ、随時フォローの承認を致します。承認後にInstagram内のコラムコンテンツの閲覧やインスタライブ配信を視聴できるようになります。
                </div>
              </div>
            </div>
            <p class="step"><span class="text-wrapper-4">Step </span> <span class="text-wrapper-5">05</span></p>
          </div>
        </div>
        <div class="overlap-group-wrapper">
          <div class="overlap-2">
            <div class="frame-3">
              <div class="div-wrapper"><div class="text-wrapper-3">活動開始！</div></div>
              <div class="frame-4">
                <div class="div-2">
                  サロンメンバー限定のSlackとInstagramにて、配信コンテンツの視聴やメンバー同士の交流をお楽しみください。興味のある部活動やオフ会、美容ツアーにもぜひご参加ください。
                </div>
              </div>
            </div>
            <p class="step"><span class="text-wrapper-4">Step </span> <span class="text-wrapper-5">06</span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  :root {
  --pale-pink: rgba(245, 236, 239, 1);
  --neutral: rgba(250, 250, 249, 1);
  --lightest-grey: rgba(228, 228, 231, 1);
  --light-grey: rgba(161, 161, 170, 1);
  --grey: rgba(113, 113, 122, 1);
  --dark-grey: rgba(82, 82, 91, 1);
  --black: rgba(39, 39, 42, 1);
  --script-font-family: "Charlotte", Helvetica;
  --script-font-weight: 400;
  --script-font-size: 20px;
  --script-letter-spacing: 0px;
  --script-line-height: normal;
  --script-font-style: normal;
  --h1-e-font-family: "Cinzel Decorative", Helvetica;
  --h1-e-font-weight: 400;
  --h1-e-font-size: 64px;
  --h1-e-letter-spacing: 1.92px;
  --h1-e-line-height: normal;
  --h1-e-font-style: normal;
  --h2-j-font-family: "Hina Mincho", Helvetica;
  --h2-j-font-weight: 400;
  --h2-j-font-size: 30px;
  --h2-j-letter-spacing: 3.6px;
  --h2-j-line-height: 144.9303150177002%;
  --h2-j-font-style: normal;
  --body-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --body-j-font-weight: 400;
  --body-j-font-size: 16px;
  --body-j-letter-spacing: 2.56px;
  --body-j-line-height: 24px;
  --body-j-font-style: normal;
  --small-text-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-text-j-font-weight: 400;
  --small-text-j-font-size: 14px;
  --small-text-j-letter-spacing: -0.42px;
  --small-text-j-line-height: normal;
  --small-text-j-font-style: normal;
  --small-title-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-title-j-font-weight: 400;
  --small-title-j-font-size: 20px;
  --small-title-j-letter-spacing: 0px;
  --small-title-j-line-height: normal;
  --small-title-j-font-style: normal;
  --montserrat-font-family: "Montserrat", Helvetica;
  --montserrat-font-weight: 500;
  --montserrat-font-size: 14px;
  --montserrat-letter-spacing: 0.10000000149011612px;
  --montserrat-line-height: 20px;
  --montserrat-font-style: normal;
  --h1-j-font-family: "Hina Mincho", Helvetica;
  --h1-j-font-weight: 400;
  --h1-j-font-size: 64px;
  --h1-j-letter-spacing: 4.48px;
  --h1-j-line-height: normal;
  --h1-j-font-style: normal;
  --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
  --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
  --variable-collection-beige: rgba(229, 213, 203, 1);
  --variable-collection-pink: rgba(198, 151, 165, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-pale-pink: rgba(245, 236, 239, 1);
  --variable-collection-salmon: rgba(215, 169, 159, 1);
  --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
  --variable-collection-purple: rgba(158, 135, 190, 1);
}

.box {
  width: 1580px;
  height: 2240px;
}

.box .process {
  width: 1580px;
  height: 2240px;
  top: 0;
  left: 0;
}

.box .overlap-group {
  position: relative;
  height: 2240px;
}

.box .bg {
  width: 1580px;
  height: 2240px;
  left: 0;
  position: absolute;
  top: 0;
}

.box .div {
  width: 1280px;
  height: 1940px;
  left: 219px;
  background-color: var(--neutral);
  position: absolute;
  top: 0;
}

.box .bg-2 {
  width: 1280px;
  height: 1940px;
  left: 219px;
  background: linear-gradient(180deg, rgba(255, 252.32, 254.57, 0) 0%, rgba(198, 152, 165, 0.8) 100%);
  opacity: 0.3;
  position: absolute;
  top: 0;
}

.box .img {
  width: 1280px;
  height: 1940px;
  left: 219px;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.box .group {
  position: absolute;
  width: 1580px;
  height: 2108px;
  top: 132px;
  left: 0;
}

.box .ellipse {
  width: 616px;
  height: 616px;
  top: 0;
  left: 20px;
  border-radius: 308px;
  mix-blend-mode: multiply;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.59) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.59) 100%
  );
  position: absolute;
  filter: blur(200px);
  opacity: 0.9;
}

.box .ellipse-2 {
  width: 473px;
  height: 473px;
  top: 674px;
  left: 1107px;
  border-radius: 236.5px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.59) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.59) 100%
  );
  position: absolute;
  filter: blur(200px);
  opacity: 0.9;
}

.box .ellipse-3 {
  width: 689px;
  height: 689px;
  top: 1419px;
  left: 0;
  border-radius: 344.5px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.65) 50.5%,
    rgba(221.48, 179.58, 193.4, 0.65) 100%
  );
  position: absolute;
  filter: blur(200px);
  opacity: 0.9;
}

.box .process-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  position: absolute;
  top: 80px;
  left: 620px;
}

.box .frame {
  display: inline-flex;
  align-items: center;
  gap: 16px;
  position: relative;
  flex: 0 0 auto;
}

.box .header-mark {
  position: relative;
  width: 54px;
  height: 8px;
  background-color: var(--variable-collection-salmon);
}

.box .text-wrapper {
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h1-j-font-family);
  color: var(--grey);
  font-size: var(--h1-j-font-size);
  letter-spacing: var(--h1-j-letter-spacing);
  line-height: var(--h1-j-line-height);
  position: relative;
  font-weight: var(--h1-j-font-weight);
  font-style: var(--h1-j-font-style);
}

.box .text-wrapper-2 {
  width: fit-content;
  font-family: var(--h2-j-font-family);
  color: var(--variable-collection-pink);
  font-size: var(--h2-j-font-size);
  letter-spacing: var(--h2-j-letter-spacing);
  line-height: var(--h2-j-line-height);
  white-space: nowrap;
  position: relative;
  font-weight: var(--h2-j-font-weight);
  font-style: var(--h2-j-font-style);
}

.box .line {
  position: absolute;
  width: 3px;
  height: 1330px;
  top: 462px;
  left: 859px;
}

.box .frame-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: absolute;
  top: 309px;
  left: 565px;
}

.box .element {
  position: relative;
  width: 600px;
  height: 267px;
  margin-right: -2px;
}

.box .overlap-group-2 {
  height: 272px;
  position: relative;
  width: 598px;
  top: -5px;
}

.box .frame-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 13px;
  left: 0;
}

.box .div-wrapper {
  display: flex;
  width: 598px;
  align-items: center;
  justify-content: center;
  gap: 7px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-salmon);
  border-radius: 10px 10px 0px 0px;
}

.box .text-wrapper-3 {
  width: fit-content;
  margin-top: -1px;
  font-family: "Ryo Gothic PlusN-M", Helvetica;
  color: var(--variable-collection-white);
  font-size: 24px;
  letter-spacing: 2.4px;
  line-height: normal;
  position: relative;
  font-weight: 400;
}

.box .frame-4 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 8px 16px 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-white);
  border-radius: 0px 0px 10px 10px;
}

.box .flexcontainer {
  display: flex;
  flex-direction: column;
  width: 564px;
  align-items: flex-start;
  gap: 5px;
}

.box .text {
  align-self: stretch;
  font-family: var(--body-j-font-family);
  color: var(--grey);
  font-size: var(--body-j-font-size);
  letter-spacing: var(--body-j-letter-spacing);
  line-height: var(--body-j-line-height);
  position: relative;
  font-weight: var(--body-j-font-weight);
  font-style: var(--body-j-font-style);
}

.box .span {
  letter-spacing: var(--body-j-letter-spacing);
  font-family: var(--body-j-font-family);
  font-style: var(--body-j-font-style);
  font-weight: var(--body-j-font-weight);
  line-height: var(--body-j-line-height);
  font-size: var(--body-j-font-size);
}

.box .step {
  position: absolute;
  top: 0;
  left: 9px;
  -webkit-text-stroke: 5px #d6a99f;
  font-family: "Montserrat-Medium", Helvetica;
  font-weight: 500;
  color: var(--variable-collection-white);
  font-size: 14px;
  letter-spacing: 0.1px;
  line-height: 20px;
  white-space: nowrap;
  border-color: var(--variable-collection-salmon);
}

.box .text-wrapper-4 {
  letter-spacing: var(--montserrat-letter-spacing);
  font-family: var(--montserrat-font-family);
  font-style: var(--montserrat-font-style);
  font-weight: var(--montserrat-font-weight);
  line-height: var(--montserrat-line-height);
  font-size: var(--montserrat-font-size);
}

.box .text-wrapper-5 {
  font-size: 40px;
  letter-spacing: 0.04px;
}

.box .overlap-wrapper {
  position: relative;
  width: 600px;
  height: 334px;
  margin-right: -2px;
}

.box .overlap {
  position: relative;
  width: 598px;
  height: 339px;
  top: -5px;
}

.box .div-2 {
  position: relative;
  width: 564px;
  margin-top: -1px;
  font-family: var(--body-j-font-family);
  font-weight: var(--body-j-font-weight);
  color: var(--grey);
  font-size: var(--body-j-font-size);
  letter-spacing: var(--body-j-letter-spacing);
  line-height: var(--body-j-line-height);
  font-style: var(--body-j-font-style);
}

.box .text-wrapper-6 {
  letter-spacing: var(--body-j-letter-spacing);
  text-decoration: underline;
  font-family: var(--body-j-font-family);
  font-style: var(--body-j-font-style);
  font-weight: var(--body-j-font-weight);
  line-height: var(--body-j-line-height);
  font-size: var(--body-j-font-size);
}

.box .overlap-group-wrapper {
  position: relative;
  width: 600px;
  height: 166px;
  margin-right: -2px;
}

.box .overlap-2 {
  height: 171px;
  position: relative;
  width: 598px;
  top: -5px;
}

.box .element-2 {
  position: relative;
  width: 600px;
  height: 214px;
  margin-right: -2px;
}

.box .overlap-3 {
  position: relative;
  width: 598px;
  height: 219px;
  top: -5px;
}
</style>