---
import { Image } from "astro:assets";

import ureshino1 from "~/assets/hero_top1.png";
import logo from "~/assets/logomark.png";
import description from "~/assets/upgrade_your_life.png";
---

<div class="box">
    <div class="your-journey">
    <div class="overlap">
        <div class="pic">
        <div class="overlap-group">
            <img class="rectangle" src="img/rectangle-11.png" />
            <div class="gradient"></div>
        </div>
        </div>
        <img class="bg" src="img/bg.png" />
        <div class="menu">
        <div class="frame">
            <div class="text-wrapper">自己肯定感<br />UP</div>
        </div>
        <div class="frame">
            <div class="text-wrapper">他人に<br />流されない</div>
        </div>
        <div class="frame">
            <div class="text-wrapper">自分自身に<br />誇り</div>
        </div>
        <div class="frame">
            <div class="text-wrapper">自分らしく<br />生きられる</div>
        </div>
        </div>
        <div class="your-story">
        <div class="header-mark"></div>
        <div class="group">
            <div class="div">
            <p class="p"><span class="span">次は</span> <span class="text-wrapper-2">あなたのストーリー</span></p>
            <p class="div-2">
                <span class="text-wrapper-3">次は</span> <span class="text-wrapper-4">あなたのストーリー</span>
            </p>
            </div>
        </div>
        </div>
        <div class="underline"></div>
        <div class="underline-2"></div>
        <div class="group-2">
        <div class="text-wrapper-5">自分らしく</div>
        <div class="text-wrapper-6">成長できる環境</div>
        </div>
        <div class="flexcontainer">
        <p class="text">
            <span class="text-wrapper-7">自分自身に漠然とした違和感を感じているのなら<br /></span>
        </p>
        <p class="text">
            <span class="text-wrapper-7">それはあなたのせいではありません。<br /></span>
        </p>
        <p class="text">
            <span class="text-wrapper-7"><br /></span>
        </p>
        <p class="text">
            <span class="text-wrapper-7">違和感の正体は、あなたが </span>
            <span class="text-wrapper-8">本来いるべき場所</span>
            <span class="text-wrapper-9">&nbsp;</span>
            <span class="text-wrapper-7">に<br /></span>
        </p>
        <p class="text">
            <span class="text-wrapper-7">いないだけ。<br /></span>
        </p>
        <p class="text">
            <span class="text-wrapper-7"><br /></span>
        </p>
        <p class="text">
            <span class="text-wrapper-8">かわいく賢く</span>
            <span class="text-wrapper-7">生きる女性たちとの交流で変化が生まれます。<br /></span>
        </p>
        <p class="text"><span class="text-wrapper-7"></span></p>
        </div>
        <img class="watercolor" src="img/watercolor-2-1.png" />
    </div>
    </div>
</div>

<style>
    :root {
  --pale-pink: rgba(245, 236, 239, 1);
  --neutral: rgba(250, 250, 249, 1);
  --lightest-grey: rgba(228, 228, 231, 1);
  --light-grey: rgba(161, 161, 170, 1);
  --grey: rgba(113, 113, 122, 1);
  --dark-grey: rgba(82, 82, 91, 1);
  --black: rgba(39, 39, 42, 1);
  --script-font-family: "Charlotte", Helvetica;
  --script-font-weight: 400;
  --script-font-size: 20px;
  --script-letter-spacing: 0px;
  --script-line-height: normal;
  --script-font-style: normal;
  --h1-e-font-family: "Cinzel Decorative", Helvetica;
  --h1-e-font-weight: 400;
  --h1-e-font-size: 64px;
  --h1-e-letter-spacing: 1.92px;
  --h1-e-line-height: normal;
  --h1-e-font-style: normal;
  --h2-j-font-family: "Hina Mincho", Helvetica;
  --h2-j-font-weight: 400;
  --h2-j-font-size: 30px;
  --h2-j-letter-spacing: 3.6px;
  --h2-j-line-height: 144.9303150177002%;
  --h2-j-font-style: normal;
  --body-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --body-j-font-weight: 400;
  --body-j-font-size: 16px;
  --body-j-letter-spacing: 2.56px;
  --body-j-line-height: 24px;
  --body-j-font-style: normal;
  --small-text-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-text-j-font-weight: 400;
  --small-text-j-font-size: 14px;
  --small-text-j-letter-spacing: -0.42px;
  --small-text-j-line-height: normal;
  --small-text-j-font-style: normal;
  --small-title-j-font-family: "Ryo Gothic PlusN", Helvetica;
  --small-title-j-font-weight: 400;
  --small-title-j-font-size: 20px;
  --small-title-j-letter-spacing: 0px;
  --small-title-j-line-height: normal;
  --small-title-j-font-style: normal;
  --montserrat-font-family: "Montserrat", Helvetica;
  --montserrat-font-weight: 500;
  --montserrat-font-size: 14px;
  --montserrat-letter-spacing: 0.10000000149011612px;
  --montserrat-line-height: 20px;
  --montserrat-font-style: normal;
  --h1-j-font-family: "Hina Mincho", Helvetica;
  --h1-j-font-weight: 400;
  --h1-j-font-size: 64px;
  --h1-j-letter-spacing: 4.48px;
  --h1-j-line-height: normal;
  --h1-j-font-style: normal;
  --pink-shadow: 3px 4px 5.800000190734863px 0px rgba(193, 157, 169, 1);
  --drop: 0px 2px 4px 0px rgba(177, 165, 171, 0.8);
  --variable-collection-beige: rgba(229, 213, 203, 1);
  --variable-collection-pink: rgba(198, 151, 165, 1);
  --variable-collection-white: rgba(255, 255, 255, 1);
  --variable-collection-pale-pink: rgba(245, 236, 239, 1);
  --variable-collection-salmon: rgba(215, 169, 159, 1);
  --variable-collection-beige-gradient: rgba(255, 255, 255, 0);
  --variable-collection-purple: rgba(158, 135, 190, 1);
}

.box {
  width: 1281px;
  height: 1005px;
}

.box .your-journey {
  width: 1283px;
  height: 1005px;
  top: 0;
  left: 0;
}

.box .overlap {
  position: relative;
  width: 1281px;
  height: 1005px;
}

.box .pic {
  position: absolute;
  width: 625px;
  height: 696px;
  top: 1px;
  left: 0;
}

.box .overlap-group {
  position: relative;
  height: 696px;
  border-radius: 0px 0px 40px 0px;
}

.box .rectangle {
  position: absolute;
  width: 624px;
  height: 696px;
  top: 0;
  left: 1px;
  object-fit: cover;
}

.box .gradient {
  position: absolute;
  width: 625px;
  height: 696px;
  top: 0;
  left: 0;
  border-radius: 0px 0px 40px 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(245, 236, 239, 0.48) 66.99%,
    rgba(221.48, 179.58, 193.4, 0.48) 100%
  );
}

.box .bg {
  position: absolute;
  width: 1280px;
  height: 1005px;
  top: 0;
  left: 1px;
  mix-blend-mode: hard-light;
  object-fit: cover;
}

.box .menu {
  display: inline-flex;
  align-items: flex-start;
  gap: 24px;
  position: absolute;
  top: 583px;
  left: 657px;
}

.box .frame {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  position: relative;
  flex: 0 0 auto;
  background-color: var(--variable-collection-salmon);
  border-radius: 20px;
  border: 5px solid;
  border-color: transparent;
  border-image: linear-gradient(to bottom, rgba(255, 252.32, 254.57, 0), rgba(198, 152, 165, 0.8)) 1;
}

.box .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -5px;
  font-family: var(--body-j-font-family);
  font-weight: var(--body-j-font-weight);
  color: var(--variable-collection-white);
  font-size: var(--body-j-font-size);
  text-align: center;
  letter-spacing: var(--body-j-letter-spacing);
  line-height: var(--body-j-line-height);
  font-style: var(--body-j-font-style);
}

.box .your-story {
  display: inline-flex;
  align-items: center;
  gap: 24px;
  padding: 12px 24px;
  position: absolute;
  top: 84px;
  left: 428px;
  background-color: var(--variable-collection-white);
  border-radius: 8px;
  backdrop-filter: blur(14px) brightness(100%);
  -webkit-backdrop-filter: blur(14px) brightness(100%);
  opacity: 0.91;
}

.box .header-mark {
  position: relative;
  width: 54px;
  height: 8px;
  margin-left: -23px;
  background-color: var(--variable-collection-salmon);
  transform: rotate(90deg);
}

.box .group {
  position: relative;
  width: 685px;
  height: 93px;
  margin-right: -4px;
}

.box .div {
  position: relative;
  width: 681px;
  height: 93px;
}

.box .p {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Hina Mincho-Regular", Helvetica;
  font-weight: 400;
  color: var(--variable-collection-pink);
  font-size: 32px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.box .span {
  letter-spacing: 0.72px;
}

.box .text-wrapper-2 {
  font-size: var(--h1-j-font-size);
  letter-spacing: var(--h1-j-letter-spacing);
  font-family: var(--h1-j-font-family);
  font-style: var(--h1-j-font-style);
  font-weight: var(--h1-j-font-weight);
  line-height: var(--h1-j-line-height);
}

.box .div-2 {
  position: absolute;
  top: 0;
  left: 0;
  text-shadow: 3px 4px 5.8px #c19da8b0;
  mix-blend-mode: color-burn;
  background: linear-gradient(
    180deg,
    rgb(220.06, 172.73, 186.83) 0%,
    rgb(233.56, 189.12, 202.36) 49.1%,
    rgb(185.43, 162.19, 217.76) 100%
  );
  -webkit-background-clip: text !important;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  opacity: 0.72;
  font-family: "Hina Mincho-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 32px;
  letter-spacing: 2.24px;
  line-height: normal;
}

.box .text-wrapper-3 {
  color: #000000;
  letter-spacing: 0.72px;
}

.box .text-wrapper-4 {
  color: #000000;
  font-size: var(--h1-j-font-size);
  letter-spacing: var(--h1-j-letter-spacing);
  font-family: var(--h1-j-font-family);
  font-style: var(--h1-j-font-style);
  font-weight: var(--h1-j-font-weight);
  line-height: var(--h1-j-line-height);
}

.box .underline {
  width: 228px;
  top: 456px;
  left: 885px;
  position: absolute;
  height: 11px;
  background-image: url(./img/image.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .underline-2 {
  width: 150px;
  top: 540px;
  left: 652px;
  position: absolute;
  height: 11px;
  background-image: url(./img/underline-1.png);
  background-size: cover;
  background-position: 50% 50%;
}

.box .group-2 {
  position: absolute;
  width: 344px;
  height: 88px;
  top: 222px;
  left: 676px;
}

.box .text-wrapper-5 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: var(--h2-j-font-family);
  font-weight: var(--h2-j-font-weight);
  color: var(--light-grey);
  font-size: var(--h2-j-font-size);
  letter-spacing: var(--h2-j-letter-spacing);
  line-height: var(--h2-j-line-height);
  white-space: nowrap;
  font-style: var(--h2-j-font-style);
}

.box .text-wrapper-6 {
  position: absolute;
  top: 45px;
  left: 108px;
  font-family: var(--h2-j-font-family);
  font-weight: var(--h2-j-font-weight);
  color: var(--light-grey);
  font-size: var(--h2-j-font-size);
  letter-spacing: var(--h2-j-letter-spacing);
  line-height: var(--h2-j-line-height);
  white-space: nowrap;
  font-style: var(--h2-j-font-style);
}

.box .flexcontainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  position: absolute;
  width: 541px;
  height: 189px;
  top: 345px;
  left: 656px;
}

.box .text {
  position: relative;
  align-self: stretch;
  font-family: "Ryo Gothic PlusN-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  line-height: 24px;
}

.box .text-wrapper-7 {
  color: #71717a;
  letter-spacing: var(--body-j-letter-spacing);
  font-family: var(--body-j-font-family);
  font-style: var(--body-j-font-style);
  font-weight: var(--body-j-font-weight);
  line-height: var(--body-j-line-height);
  font-size: var(--body-j-font-size);
}

.box .text-wrapper-8 {
  color: #d6a99f;
  font-size: 24px;
  letter-spacing: 0.4px;
}

.box .text-wrapper-9 {
  color: #71717a;
  font-size: 24px;
  letter-spacing: 0.4px;
}

.box .watercolor {
  position: absolute;
  width: 275px;
  height: 29px;
  top: 169px;
  left: 556px;
  object-fit: cover;
}
</style>