---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import moonImage from "~/assets/moon.jpg";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://note.com/ureshino_chan",
    description: "Ureshino on Note",
    icon: "mdi:home",
  },
  {
    url: "https://twitter.com/ureshino_chan",
    description: "Ureshino on Twitter",
    icon: "fa-brands:twitter",
  },
  {
    url: "https://www.instagram.com/ureshino_chan",
    description: "instagram",
    icon: "fa-brands:github-alt",
  },
  {
    url: "https://empression-co.com/",
    description: "empression-co",
    icon: "fa-brands:github-alt",
  },
];
---

<footer class="relative flex h-64 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40">
    <Image
  class="h-full w-full object-cover"
  src={moonImage}
  widths={[450, 800, 1200]}
  sizes={"100vw"}
  alt="The ridged surface of the moon"
/>

  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-4">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url}
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
</footer>
