---
import button_bg from '~/assets/join_button.svg';
import { Image } from 'astro:assets';

const { text, url } = Astro.props;
---

<div class="flex overflow-hidden">
    <a href={url} class="flex flex-col">
        <Image src={button_bg} alt="Join" width="260" height={84} />
        <span class="relative top-[-60px] self-center text-lg">{text}</span>
    </a>
</div>
