---
import button_bg from "~/assets/join_button.svg";
import { Image } from "astro:assets";

import { Client } from "~/util/client";
import { readSingleton } from "@directus/sdk";

// Directusクライアント取得
const client = await new Client().create();
// Directusからprocessのデータを配列で取得
const obj = await client.request(readSingleton("global"));
---

<div
  class="mb-[10px] flex flex-col items-center justify-center overflow-hidden"
>
  <div class="cv-copy text-[#C697A5]">
    <span>{obj?.microcopy ?? ""}</span>
  </div>
  <a href={obj?.link ?? ""} class="-mb-8 flex flex-col">
    <Image src={button_bg} alt="Join" width="260" height={84} />
    <span class="relative top-[-60px] self-center text-gray-50 text-lg">
      <!-- {"　　今すぐ入会　　>"} -->
      {obj?.button ?? ""}
    </span>
  </a>
  <div class="w-72">
    <p class="font-thin text-[#98989c] text-xs">
      <Fragment set:html={obj.attention} />
    </p>
  </div>

  <style>
    .cv-copy {
      color: #c697a5;
      letter-spacing: 2.08px;
      font-family: var(--mobile-body-font-family);
      font-style: "Ryo Gothic PlusN", Helvetica;
      font-weight: 400;
      line-height: 22px;
      font-size: 16px;
    }
  </style>
</div>
