---
import { Image } from "astro:assets";
import logomark from "../../assets/logomark.png";
---

<div class="flex justify-center">
  <div class="max-w-xl grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="/ureshinosalon/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Image src={logomark} alt="うれしのサロンロゴ" class="size-8" />
      <span>うれしのサロン</span>
    </a>
    <a
      href="/koreasalon/"
      class="flex items-center justify-center gap-3 border-2 border-current px-6 py-4"
    >
      <Image src={logomark} alt="うれしのサロンロゴ" class="size-8" />
      <span>韓国美容整形サロン</span>
    </a>
  </div>
</div>