---
import { Image } from 'astro:assets';
// import {ImageMetadata} from "astro";

import subtract from '~/assets/contents/Subtract.svg';

// コンポーネントの引数を定義
interface Props {
  title_small: string;
  title1: string;
  title2: string;
}

const { title_small, title1, title2 } = Astro.props;

---

<div class="title">
    <div class="overlap-2">
      <div class="title-2">
        <div class="text-wrapper-3">{title_small}</div>
        <div class="text-wrapper">{title1}</div>
      </div>
      {title2 &&
        <div class="text-wrapper-2">{title2}</div>
      }
    </div>
</div>

<style>
    .title {
        top: 40px;
        left: 34px;
    }

    .rectangle {
        margin-left: -19px;
        background-color: var(--variable-collection-salmon);
        transform: rotate(90deg);
    }

    .text-wrapper-3 {
        margin-top: -1px;
        font-family: var(--mobile-h1-font-family);
        font-weight: var(--mobile-h1-font-weight);
        color: var(--grey);
        font-size: var(--mobile-h2-font-size);
        letter-spacing: var(--mobile-h1-letter-spacing);
        line-height: var(--mobile-h1-line-height);
        font-style: var(--mobile-h1-font-style);
    }

    .text-wrapper {
        margin-top: -1px;
        font-family: var(--mobile-h1-font-family);
        font-weight: var(--mobile-h1-font-weight);
        color: var(--grey);
        font-size: var(--mobile-h1-font-size);
        letter-spacing: var(--mobile-h1-letter-spacing);
        line-height: var(--mobile-h1-line-height);
        font-style: var(--mobile-h1-font-style);
    }

    .text-wrapper-2 {
        top: 57px;
        left: 134px;
        font-family: var(--mobile-h1-font-family);
        font-weight: var(--mobile-h1-font-weight);
        color: var(--grey);
        font-size: var(--mobile-h1-font-size);
        letter-spacing: var(--mobile-h1-letter-spacing);
        line-height: var(--mobile-h1-line-height);
        font-style: var(--mobile-h1-font-style);
    }

</style>