---
import { Image } from 'astro:assets';
// import {ImageMetadata} from "astro";

// コンポーネントの引数を定義
interface Props {
  title: string;
  name: string;
  icon: ImageMetadata;    // Imageが要求する型と同じ型を指定
}

const { title, name, icon} = Astro.props;
---

<!-- 人が左側 -->

<div class="member">
    <div class="overlap-2">
      <div class="bubble">
        <div class="overlap-group-3">
          <div class="frame">
            <p class="div-3">
                <slot />
            </p>
            <div class="group-3">
              <div class="text-wrapper-7">{name} さん</div>
              <div class="text-wrapper-8">{title}</div>
            </div>
          </div>
        </div>
      </div>
       <Image class="icon" src={icon} alt="" />
    </div>
  </div>

<style>
  .icon {
    width: 86px;
    /* height: 86px; */
    top: 168px;
    left: 0;
  }
</style>